<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BBOSS-MVC</display-name>
	
	<listener>
		<listener-class>org.frameworkset.web.listener.ApplicationLifeListener</listener-class>
	</listener>
	<filter>  
        <filter-name>encodingFilter</filter-name>  
        <filter-class>com.frameworkset.common.filter.CharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>RequestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ResponseEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>mode</param-name>
      <param-value>0</param-value>
    </init-param>
    </filter>  
      <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>*.page</url-pattern>  
    </filter-mapping>
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>*.htm</url-pattern>  
    </filter-mapping>
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>*.html</url-pattern>  
    </filter-mapping> 
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>*.ajax</url-pattern>  
    </filter-mapping>
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>/rest/*</url-pattern>  
    </filter-mapping>
  
	<!--
        Core dispatcher servlet
    -->
	<servlet>
		<servlet-name>mvcdispather</servlet-name>
		<servlet-class>org.frameworkset.web.servlet.DispatchServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/bboss-*.xml,/WEB-INF/conf/bboss-*.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>*.ajax</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>/query/*</url-pattern>
	</servlet-mapping>	
	
   <servlet>
		<display-name>cxf</display-name>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.RPCCXFServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/cxfservices/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>rmiload</display-name>
		<servlet-name>rmiload</servlet-name>
		<servlet-class>org.frameworkset.spi.remote.rmi.RMIRegistServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

<servlet>
  <display-name>RPCHttpServLet</display-name>
  <servlet-name>RPCHttpServLet</servlet-name>
  <servlet-class>org.frameworkset.spi.remote.http.RPCHttpServLet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RPCHttpServLet</servlet-name>
  <url-pattern>*.rpc</url-pattern>
 </servlet-mapping>
	
	<!--exception page -->
	<!--<error-page>-->
		<!--<exception-type>java.lang.Exception</exception-type> -->
		<!-- Displays a stack trace -->
		<!--<location>/500.htm</location> -->
	<!--</error-page>-->
	
	<welcome-file-list>
   		<welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
