/com/
/core-site.xml
/dbcp-hx.xml.bak
/dbcp-hx123.xml
/dbcp-hx123.xml.bak
/dbcp-hx125.xml
/dbcp-hx125.xml.bak
/dbcp-hx243.xml
/dbcp-hx243.xml.bak
/dbcp-test.xml
/dbcp-zn.xml
/eventconf.xml
/hdfs-site.xml
/log4j.properties
/org/
/poolman.xml
/poolman.xml.bak
/tasks.xml
