<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Session Share Web Application</display-name>
	
	
    <filter>
	    <filter-name>sessionFilter</filter-name>
	    <filter-class>org.frameworkset.security.session.impl.SessionFilter</filter-class>
	    
    </filter>
 
	 <filter-mapping>
	   <filter-name>sessionFilter</filter-name>
	   <url-pattern>*.jsp</url-pattern>
	 </filter-mapping>
	 
  <servlet>
		<servlet-name>mvcdispather</servlet-name>
		<servlet-class>org.frameworkset.web.servlet.DispatchServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!--如果有多个目录需要加载，请用,号分隔-->
			<param-value>/WEB-INF/conf/bboss-*.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvcdispather</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>
	
  
</web-app>
