#contentborder {
	border-left: 1px solid #5780C5;
	border-right: 1px solid #5780C5;
	border-bottom: 1px solid #5780C5;
	overflow: auto;
	background: #F6F8FB;
	padding: 0, 2, 10, 2;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 3px;
}

#iframecontentborder {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	height: 100%;
	width: 100%;
	background: #F6F8FB;
	overflow: auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: absolute;
}

#treecontentborder {
	border-left: 1px solid #000000;
	border-right: 5px solid red;
	border-top: 0px solid #000000;
	border-bottom: 1px solid #000000;
	height: 100%;
	width: 100%;
	background: #F6F8FB;
	overflow: auto;
	padding-top: 5px
}

/* iframe Spacing Contol */
.contentbodymargin {
	margin: 0 2 2 2;
	background-color: #F6F8FB;
}

.contentbodymargin_1 {
	margin: 2 2 2 2;
	background: #E9EDF3;
}

/* Document Styles  */
.labels {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

/* fieldset+legend Styles */
.keylinefieldset {
	border-color: #8080FF;
	border-width: 1px;
	border-style: solid;
}

/* table Styles */
.tableborder {
	border-left: 0px solid #B8B4A3;
	border-right: 1px solid #B8B4A3;
	border-top: 1px solid #B8B4A3;
	border-bottom: 0px solid #B8B4A3;
}

.querytableborder {
	border-left: 1px solid #B8B4A3;
	border-right: 1px solid #B8B4A3;
	border-top: 1px solid #B8B4A3;
	border-bottom: 1px solid #B8B4A3;
}

/*.tablecells {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #efefef;
	border-right-color: #efefef;
	border-bottom-color: #efefef;
	border-left-color: #efefef;
}*/
.checkboxcells {
	border-left: 1px solid #B8B4A3;
	border-right: 0px solid #B8B4A3;
	border-top: 0px solid #B8B4A3;
	border-bottom: 1px solid #B8B4A3;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #E9EDF3
}

td.headercolor {
	color: #083863;
	background-color: #5780C5;
	background-image: url(images/thinbg.gif);
	
	
	text-align: center
}

td.bginputcolor {
	border-left: 1px solid #B8B4A3;
	border-right: 0px solid #B8B4A3;
	border-top: 0px solid #B8B4A3;
	border-bottom: 1px solid #B8B4A3;
	font-style: normal;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
	background-color: #4977B4;
	color: #FFFFFF;
}

th.singleheadercolor {
	border-left: 1px solid #B8B4A3;
	border-right: 0px solid #B8B4A3;
	border-top: 0px solid #B8B4A3;
	border-bottom: 1px solid #B8B4A3;
	font-style: normal;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #4977B4;
	color: #FFFFFF;
	text-align: left
}

.firstcolumnerrantrowcolor {
	border-left: 1px solid red;
	border-right: 0px solid #B7B4A3;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #E6EAD8;
	text-align: left
}

.middleerrantrowcolor {
	border-left: 1px solid #B7B4A3;
	border-right: 0px solid #B7B4A3;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #E6EAD8;
	text-align: left
}

.lastcolumnerrantrowcolor {
	border-left: 1px solid #B7B4A3;
	border-right: 1px solid red;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #E6EAD8;
	text-align: left
}

.rowcolor {
	border-left: 1px solid #B8B4A3;
	border-right: 0px solid #B8B4A3;
	border-top: 0px solid #B8B4A3;
	border-bottom: 1px solid #B8B4A3;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	background-color: #E6EAD8;
	text-align: left
}

/* Form elements and status contents */
td {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
}

th {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
}

input {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
}

.selectlist {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
}

select {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
}

pre {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 12px;
}

.smtextenter {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
	width: 10%;
}

.textenter {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
	width: 90%;
}

.tabletextenter {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
	width: 100%;
}

.tablefilebrowse {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	border-color: #C7C5B2;
	font-family: Tahoma, Verdana, Arial, Helvetica;
}

input.button {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	border-width: 1px;
	border-style: outset;
}

input.radio {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
}

img.twist {
	border-width: 0 0 0 0px;
	height: 10px;
	width: 11px;
}

/* Fragment Styles */
.fixfragtable {
	width: 95%;
	border: 0px none;
}

.innerfixfragtable {
	width: 100%;
	border: 0px none;
}

.rangefragtable {
	width: 95%;
	border-left: 0px solid #B8B4A3;
	border-right: 1px solid #B8B4A3;
	border-top: 1px solid #B8B4A3;
	border-bottom: 0px solid #B8B4A3;
}

.innerrangefragtable {
	width: 100%;
	border-left: 0px solid #B8B4A3;
	border-right: 1px solid #B8B4A3;
	border-top: 1px solid #B8B4A3;
	border-bottom: 0px solid #B8B4A3;
}

.textareaenter {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
	width: 100%;
	height: 150px;
}

.bigtextareaenter {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 14px;
	color: Black;
	border-style: solid;
	border-width: 1px;
	border-color: #C7C5B2;
	width: 100%;
	height: 300px;
}

.dateInputElem {
	width: 140;
	font-family: "宋体", "新宋体";
	background-attachment: fixed;
	background-image: url(images/date.gif);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: hand;
}

.dateInputElemDisabled {
	width: 140;
	font-family: "宋体", "新宋体";
	background-attachment: fixed;
	background-image: url(images/date.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #E6E6E6;
	cursor: hand;
}

.inputTextElem {
	
}

.inputSelectElem {
	width: 140
}

.inputTextAreaElem {
	width: 360
}

.inputDisabledTextAreaElem {
	width: 360;
	background-color: #E6E6E6;
}

.inputIndexTd {
	padding-left: 4px
}

.wordContentShow {
	padding: 4px;
	vertical-align: top
}

.reqReportContent {
	padding: 4px;
	margin-left: 16px
}

.requirementTitle {
	font-weight: 700;
	font-size: 11pt;
	margin-left: 16px
}

.reqCatTitle1 {
	font-weight: 700;
	font-size: 16pt;
	color: #5353ff
}

.reqCatTitle2 {
	font-weight: 700;
	font-size: 14pt;
	margin-left: 8px;
	color: #5353ff
}

.reqCatTitle3 {
	font-weight: 700;
	font-size: 12pt;
	margin-left: 16px;
	color: #5353ff
}

.reqCatTitle4 {
	font-weight: 700;
	font-size: 11pt margin-left :       16px;
	color: #5353ff
}

.fieldsetstyle {
	border-style: solid;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-color: #8B9FB9;
	border-top-color: #8B9FB9;
	border-right-color: #8B9FB9;
	border-bottom-color: #8B9FB9;
}

.buttonActive {
	background-color: beige;
	border: 1px none;
	font-size: 12px;
	line-height: 17px;
	text-indent: 2pt;
}

/*[ 按钮 - 禁用的 - 适用于value=" 假  字 " 的按钮] ,背景为一张图片*/
.buttonDisabled {
	background-image: url(images/b-H.GIF);
	background-repeat: no-repeat;
	border: 1px none;
	font-size: 12px;
	line-height: 17px;
	text-indent: 2pt;
}

.input {
	font-size: 9pt;
	background: #5780C5 url(images/menubg.gif) repeat-x top;
	color: white;
	border: 1px solid #F6F8FB;
	padding: 3, 2, 0, 3;
	letter-spacing: 2
}

.label {
	background-color: F3FBFE;
	FONT-SIZE: 12px;
}

.tab_left_button_checked {
	FONT-SIZE: 14px;
	width: 111px;
	border: 0px;
	font-weight: bold;
	color: #FFFFFF;
	/*TEXT-ALIGN: 	center;*/
	line-height: 20px;
	background-image: url(images/bg-xuanze.jpg);
}

.tab_table {
	background: white;
}

/*.mousestyle1{background-color:#E1F3FF;}
.mousestyle2{background-color:;}*/
.OneCellGridLine {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}

.TwoCellGridLine {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #EFEFEF;
	border-right-color: #EFEFEF;
	border-bottom-color: #EFEFEF;
	border-left-color: #EFEFEF;
}

.DataGridLine {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.win {
	width: 200;
	height: 200;
}

BODY {
	COLOR: #233850;
	LINE-HEIGHT: 100%;
	background-color: #F6F8FB;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #D5DDEA;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #F6F8FB;
	SCROLLBAR-DARKSHADOW-COLOR: #D5DDEA;
	SCROLLBAR-FACE-COLOR: #E9EDF3;
}

.title {
	color: #5780C5;
	font-size: 12px;
	font-weight: bold;
	text-align: center
}  /*?? ????????*/
.mouseover {
	background-color: #DAE0E9;;
	border: 1px solid #8B9FB9;
	cursor: hand;
}

.mouseout {
	background-color: #F6F8FB;;
	border: 1px solid #8B9FB9
}  /*????*/
.title_table {
	text-align: center
}  /*table ????*/
.text {
	text-align: center;
	color: white
}
.thin{border-collapse: collapse;border-top: 1px solid #9DCAF9;border-left: 1px solid #9DCAF9;}
.thin  th,.thin td{border-right: 1px solid #9DCAF9;border-bottom: 1px solid #9DCAF9;}
a,a:link,a:visited {
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	cursor: hand
}

#toolbar {
	width: 100%;
	height: 24px;
	border-color: white;
	border-style: solid;
	border-width: 1 1 1 1px;
	border-bottom-color: white;
	border-right-color: white;
	margin: 0 0 0 0px;
	background-image: url(images/leftmenu.gif);
}

#toolbarborder {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #1086D6;
}

/* iframe Spacing Contol */
.toolbarbodymargin {
	margin: 0 2 0 2;
}

/* GlobalToolbar */
.gtoolbarbodymargin {
	margin: 0 1 3 0;
	background: #E9EDF3;
}

#globaltoolbar {
	height: 100%;
	background: #5780C5;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #3B4D61;
	border-right-width: 1px;
	border-right-color: #3B4D61;
}

.leftsidetoolbarbodymargin {
	margin: 0 0 0 0;
	background: #C0CBD9;
}

#leftsidetoolbar {
	height: 100%;
	background: #E9EDF3;
	border-color: #E9EDF3;
	border-style: solid;
	border-width: 0px;
	border-left-width: 3px;
	border-right-width: 1px;
	border-right-color: #3B4D61;
}
/* Toolbar Styles */
.text {
	font-size: 12px;
	font-family: Tahoma;
	color: #0C3866;
	text-align: left;
}
.normal {
	
	border-color: border-bottom-color :;
	border-right-color: ;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.hover {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #8C8E8C;
	border-right-color: #8C8E8C;
	cursor: hand;
}

.down {
	border-color: #8C8E8C;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-bottom-color: white;
	border-right-color: white;
	cursor: hand;
}

.select {
	border-color: #8C8E8C;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-bottom-color: white;
	border-right-color: white;
	cursor: hand;
}

IMG {border-width: 0px;}

input{border:1 solid #9090c0}

.leftHead{
	cursor:hand;
	background-color:none;
	color:#083863;
	height:27px;
	border:0 none navy;
	background-image: url(images/leftnav01.jpg);	
	}
