/build/

*.bak
bboss-websocket/.classpath
bboss-websocket/.project
bboss-core/.project
bboss-core/.classpath
bboss-event/.project
bboss-event/.classpath
bboss-hession/.classpath
bboss-event/.settings/org.eclipse.jdt.core.prefs
bboss-core/.settings/org.eclipse.jdt.core.prefs
bboss-hession/.project
bboss-mvc/.classpath
bboss-mvc/.project
bboss-persistent/.classpath
bboss-mvc/.settings/org.eclipse.jdt.core.prefs
bboss-persistent/.project
bboss-hession/.settings/org.eclipse.jdt.core.prefs
bboss-persistent/.settings/org.eclipse.jdt.core.prefs
bboss-schedule/.classpath
bboss-schedule/.project
bboss-soa/.classpath
*.prefs
*.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
bboss-soa/.project
bboss-util/.classpath
bboss-util/.project
bboss-velocity/.project
bboss-velocity/.classpath
bboss-taglib/.classpath
bboss-taglib/.project
.idea
.gradle
/.classpath
/.project
/.settings/

*.class
/gradle/
bboss-core-entity/.project
