#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
int cnt=0;
try{
	cnt=executor.queryTFieldBean(int.class,"queryCntByCondition", condition);
}catch(Exception e){
	throw new  $exception$start"count $entityName failed:",e$end;
}
return cnt;