#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
ListInfo datas=null;
try{
	datas=executor.queryListInfoBean($entityName${dot}class,"queryList$entityName", offset, pagesize, $paramName);
}catch(Exception e){
	throw new  $exception$start"pagine query $entityName failed:",e$end;
}
return datas;