#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
try {
	executor.updateBean("update${entityName}", $paramName);
} catch (Throwable e) {	
	throw new $exception$start"update ${entityName} failed::",e$end;
}
#elseif($methodtype == 2)
try {
	${entityVarName}Service.update${entityName}($paramName);
	return "success";
} catch (Throwable e) {
	log.error("update ${entityName} failed:",e);
	return StringUtil.formatBRException(e);
}
#end