<LINK href="${contextpath}/include/textMenu.css" type=text/css rel=StyleSheet>
<script language="javascript" src="${contextpath}/include/prototype-1.4.0.js"></script>
<script language='javascript'>

//---------------------------------------------->
// 		[弹出式功能菜单]
//		作者：biaoping.yin
////---------------------------------------------->

var MenuCount=0;
var MenuCollections = new Array();
var MenuItemCount = 0;
var MenuItemCollections = new Array();
var MenuItemCloneNode = null;
var MainMenu = null;
var st_winscroll;
var fadeInst;
var startFadeInst;
var oFadeIn;
var Timer = 20;   
var alphaIn = 60; 
var cloneOut = 30;
var cmdResponseTime = 800; 

var collections = new Array();


window.onload = windowOnload;



function windowOnload()
{	
  
    InitializedDocEvent();	
	    
}

//---------------------------------
//	初始化事件
//---------------------------------
function InitializedDocEvent()
{
    
    document.onclick = documentOnclick;
    
	document.oncontextmenu = documentOnContextMenu;
	
	
}
//
function documentOnclick()
{
	setMenuClick(event.srcElement);	
}


function documentOnContextMenu()
{	
    
	setMenuContextMenu(event.srcElement,event.x,event.y);
	
	return false;
}

function MenuItem(label,jscmd,icon)
{	
    
	this.id = MenuItemCount++;
	this.stringId = "MenuItem" + this.id;
	this.jsCmd = jscmd;
	this.item = null;
	this.haveChildMenu = false;
	this.childMenu = null;
	this.parentMenu = null;
	this.tagName = "MENUITEM";

	this.addMenu = addMenu;
	this.onMouseOver= MenuItemMouseOver;
	this.onMouseOut = MenuItemMouseOut;
	this.runJsCmd = runJsCmd;
	this.runJs = runJs;
	this.dispose = MenuItemDispose;
	MenuItemCollections[this.id] = this;
	
	oMenuItem = document.createElement("TABLE");
	oMenuItem.id = this.stringId;
	oMenuItem.cellPadding = oMenuItem.cellSpacing = 0;
	oMenuItem.style.width = "100%";
	oMenuItemRow = oMenuItem.insertRow();
       	oMenuItemRow.className = "MenuItem";
	oMenuItemIconCell = oMenuItemRow.insertCell();
	oMenuItemIconCell.style.pixelWidth =22;
	oMenuItemIconCell.style.padding = "0px 0px 0px 3px";
	if(icon != null)
	{
		ItemIcon = document.createElement("IMG");ItemIcon.src = icon;ItemIcon.align="absmiddle";oMenuItemIconCell.appendChild(ItemIcon);			
	}		
	oMenuItemLabelCell = oMenuItemRow.insertCell();
	oMenuItemLabelCell.innerText = label;
	oMenuItemLabelCell.style.padding = "0px";
	
	oMenuItemArrowCell = oMenuItemRow.insertCell();
	oMenuItemArrowCell.style.padding = "0px";	
	with(oMenuItemArrowCell)
	{	
		align="right";style.pixelWidth = "16";style.font = "12px webdings";		
	}
	
	oMenuItemRow.attachEvent("onmouseover",this.onMouseOver);
	oMenuItemRow.attachEvent("onmouseout",this.onMouseOut);
	oMenuItemRow.attachEvent("onclick",this.runJsCmd);
	
	this.item = oMenuItem;	
	
	//添加菜单的点击动作
	this.menuclick = menuclick;
}



function addMenuItem(menuitem)
{
	this.MenuItems[this.ItemCount++] = menuitem;
	this.selfMenu.appendChild(menuitem.item);
	menuitem.parentMenu = this;
}

function addSeperate()
{
	for(var times=0;times < 2;times++)
	{
		thread = document.createElement("TABLE");
		thread.cellPadding=0;
		thread.cellSpacing=0;
		thread.className=(times == 0)?"MenuSeparatorUp":"MenuSeparatorDown";
		thread.style.width="100%";
		if(times == 0)
		{	thread.style.marginTop = "4px";		}
		else if(times == 1)
		{	
			thread.style.marginBottom = "4px";	
		}
		this.selfMenu.appendChild(thread);
		thread.insertRow().insertCell();
	}
}

function showMenu(MousePosX,MousePosY)
{
	this.MenuBody.style.display="block";
	
	
	if(MainMenu == this)  
	{		
		var MenuPosY = MousePosY + this.MenuBody.offsetHeight;
		if(MenuPosY < (document.body.clientHeight))
		{
			this.MenuBody.style.top = document.body.scrollTop + MousePosY;
		}
		else
		{
			this.MenuBody.style.top = document.body.scrollTop +MousePosY - this.MenuBody.offsetHeight;
		}
		
		var MenuPosX = MousePosX + this.MenuBody.offsetWidth;
		//if(MenuPosX < (document.body.clientWidth))
		//{
		//	this.MenuBody.style.left = document.body.scrollLeft + MousePosX;
		//}
		//else
		//{
		//	this.MenuBody.style.left = document.body.scrollLeft + MousePosX - this.MenuBody.offsetWidth;
		//}
		if((document.body.scrollLeft + document.body.clientWidth - this.MenuBody.offsetWidth) < MousePosX){
			this.MenuBody.style.left = document.body.scrollLeft + document.body.clientWidth - this.MenuBody.offsetWidth;
		}else{
			this.MenuBody.style.left = document.body.scrollLeft + MousePosX;
		}
		oFadeIn = this;
		oFadeIn.fadeIn();		
		return;		
	}
	
	this.setZIndex(this.parentMenuItem.parentMenu.zIndex + 2)
	
	var MenuPosY = this.parentMenuItem.parentMenu.MenuBody.offsetTop + this.parentMenuItem.item.offsetTop + this.MenuBody.offsetHeight;	
	if(MenuPosY < (document.body.scrollTop + document.body.clientHeight))
	{	
		this.MenuBody.style.top = this.parentMenuItem.parentMenu.MenuBody.offsetTop + this.parentMenuItem.item.offsetTop -2;
	}
	else
	{
		this.MenuBody.style.top = this.parentMenuItem.parentMenu.MenuBody.offsetTop + this.parentMenuItem.item.offsetTop - this.MenuBody.offsetHeight + this.parentMenuItem.item.offsetHeight + 5;
	}
	
	var MenuPosX =this.parentMenuItem.parentMenu.MenuBody.offsetLeft + this.parentMenuItem.item.offsetWidth + this.MenuBody.offsetWidth;
	if(MenuPosX < (document.body.scrollLeft + document.body.clientWidth))
	{
		this.MenuBody.style.left = this.parentMenuItem.parentMenu.MenuBody.offsetLeft + this.parentMenuItem.parentMenu.MenuBody.offsetWidth - 5;
	}
	else
	{
		this.MenuBody.style.left = this.parentMenuItem.parentMenu.MenuBody.offsetLeft - this.MenuBody.offsetWidth + 5;
	}	
	oFadeIn = this;
	strtFadeInst = setTimeout("oFadeIn.fadeIn()",300);
}

function menuFadeIn()
{	
	if((oFadeIn.MenuBody.filters.alpha.opacity += alphaIn)<100)	
	{
		if(oFadeIn.MenuBody.filters.alpha.opacity>30&&oFadeIn.menuShadow.style.display == "none")
		{
			oFadeIn.setShadow();
		}
		fadeInst = setTimeout("oFadeIn.fadeIn()",Timer);			
	}
	else
	{
		oFadeIn.setShadow();
		clearTimeout(fadeInst);

	}
}

function setZIndex(value)
{
	this.zIndex = value;
	this.MenuBody.style.zIndex = value;
}

function createShadow()
{

	try
	{
		MenuShadow = document.createElement("TABLE");
		MenuShadow.className = "MenuShadow";
		MenuShadow.insertRow().insertCell();
		document.body.appendChild(MenuShadow);
		this.menuShadow = MenuShadow;
	}
	catch(e)
	{	}
}

function setShadow()
{
	if(navigator.userAgent.indexOf("MSIE 6.0") == -1)
	return;
	try
	{
		this.menuShadow.style.top = this.MenuBody.offsetTop + 4;
		this.menuShadow.style.left = this.MenuBody.offsetLeft +4;
		this.menuShadow.style.width = this.MenuBody.offsetWidth - 7;
		this.menuShadow.style.height = this.MenuBody.offsetHeight - 7;
		this.menuShadow.style.zIndex = this.zIndex - 1;
		this.menuShadow.style.display = "block";
	}
	catch(e)
	{
		this.menuShadow.style.display = "none";
	}
}

function unactiveChildMenu()
{
	
	this.MenuItems.each(function(item)
	{
		if(item.childMenu != null)
		{
			if(item.childMenu.MenuBody.style.display != "none")
			{				
				item.childMenu.MenuBody.style.display = "none";
				item.childMenu.MenuBody.filters.alpha.opacity = 0;
				if(item.childMenu.menuShadow != null)
				item.childMenu.menuShadow.style.display = "none";
				var ChildMenuItem = item.childMenu.MenuItems;
				ChildMenuItem.each(function(cmi){
				
					//alert("cmi:"+cmi);
					
					cmi.item.rows[0].className= "MenuItem";
					//alert("cmi 1:"+cmi);
				});
				item.childMenu.unactiveChildMenu();
			}
		}
	});
} 

function MenuDispose()
{
	try
	{
		this.MenuBody.removeNode(true);
		this.menuShadow.removeNode(true);
	}
	catch(e)
	{	}
}

function addMenu(childMenu)
{
	if(this.parentMenu == null)
	{
		alert("菜单条目还没有被添加到菜单.");
		return false;
	}
	else if(this.parentMenu.stringId == childMenu.stringId)
	{
		alert("菜单条目的父菜单与子菜单相同.");
		return false;
	}
	this.item.rows[0].detachEvent("onclick",this.runJsCmd);
	this.haveChildMenu = true;
	this.childMenu = childMenu;
	this.item.rows[0].cells[2].innerText = "4";
	childMenu.parentMenuItem = this;
}

function MenuItemMouseOver()
{	
	try
	{
		//alert("1");
		var Pcell = event.srcElement.parentElement;
		if(event.srcElement.tagName == "IMG")  
		{
			Pcell = Pcell.parentElement;
		}
		//alert("2");
		Pcell.className = "MenuItemOver"; 	
		//alert("3");
		var MenuItemLink = MenuItemCollections[parseInt(Pcell.parentElement.parentElement.id.substr(8))];
		//alert("4");
		var childMenuItems = MenuItemLink.childMenu;	
		//alert("5");
		if(MenuItemLink.childMenu != null)
		{	
			MenuItemLink.childMenu.unactiveChildMenu();
			MenuItemLink.childMenu.MenuItems.each(function(cmi)
			{
				cmi.item.rows[0].className = "MenuItem";
			});
			
			MenuItemLink.parentMenu.MenuBody.filters.alpha.opacity=100;
			if(MenuItemLink.childMenu.MenuBody.style.display == "block")
			{
				return;
			}
		}
		//alert("6");
		var ContainerMenu = MenuItemLink.parentMenu;
		//alert("7");
		ContainerMenu.unactiveChildMenu();  
		//alert("8");
		//alert("aaa");
		ContainerMenu.MenuItems.each(function(subitem)
		{
			if(subitem != MenuItemLink)
			{		
				subitem.item.rows[0].className = "MenuItem";
			}
		});
		//alert("MenuItemLink.childMenu:"+MenuItemLink.childMenu);
		if(MenuItemLink.childMenu != null&&MenuItemLink.childMenu.MenuBody.style.display == "none")
		{	
			MenuItemLink.childMenu.showMenu();			
		}
	}
	catch(e)
	{
		//alert(111);alert(e.getMessage());
	}
}

function MenuItemMouseOut()
{
	var Pcell = event.srcElement.parentElement;
	if(event.srcElement.tagName == "IMG")
	{
		Pcell = Pcell.parentElement;
	}
	MenuItemLink = MenuItemCollections[parseInt(Pcell.parentElement.parentElement.id.substr(8))];
	if(MenuItemLink.childMenu != null)
	{
		if(MenuItemLink.childMenu.MenuBody.style.display == "none")
		{
			return;	
		}	
	}
	if(MenuItemLink.childMenu == null)	
	{
		Pcell.className = "MenuItem";
	}
	else if(MenuItemLink.childMenu.MenuBody.style.display == "none")
	{
		Pcell.className = "MenuItem";
	}
	else 
	{	
		Pcell.className = "MEnuItemOver";
	}
}

function runJsCmd()
{	
	var Pcell = event.srcElement.parentElement;
	if(event.srcElement.tagName == "IMG")  
	{
		Pcell = Pcell.parentElement;
	}
	var MenuItemLink = MenuItemCollections[parseInt(Pcell.parentElement.parentElement.id.substr(8))];
	
	try
	{
		var cloneNode = document.createElement("TABLE");
		document.body.appendChild(cloneNode);
		cloneNode.className = "MenuItemOver";
		cloneNode.cellPadding = cloneNode.cellSpacing = 0;
		cloneNode.style.position = "absolute";
		nodeRow = cloneNode.insertRow(0);
		nodeRow.className = "MenuItemOver";
	
		IconCell = nodeRow.insertCell();
		IconCell.innerHTML=MenuItemLink.item.rows[0].cells[0].innerHTML;
		IconCell.style.pixelWidth = 22;
		IconCell.style.padding = "0px 0px 0px 3px";

		LabelCell = nodeRow.insertCell();
		LabelCell.innerHTML = MenuItemLink.item.rows[0].cells[1].innerHTML;
		LabelCell.style.pixelWidth = MenuItemLink.item.rows[0].cells[1].offsetWidth;
		LabelCell.style.padding = "0px";

		ArrowCell = nodeRow.insertCell();
		ArrowCell.align = "right";
		ArrowCell.style.font="11.5px webdings";
		ArrowCell.innerHTML= MenuItemLink.item.rows[0].cells[2].innerText;
		ArrowCell.style.padding= "0px";
		ArrowCell.style.pixelWidth = MenuItemLink.item.rows[0].cells[2].offsetWidth;

		cloneNode.style.left = MenuItemLink.parentMenu.MenuBody.offsetLeft + 4;
		cloneNode.style.top = MenuItemLink.parentMenu.MenuBody.offsetTop + MenuItemLink.item.offsetTop +2;
		MenuItemCloneNode = null;		
		MenuItemCloneNode = cloneNode;
	}
	catch(e)
	{
		MenuItemCloneNode = null;
	}
	finally
	{
		fadeOutCloneNode()
		if(MenuItemLink.jsCmd != null)
		{
			setTimeout("MenuItemLink.runJs()",cmdResponseTime);
		}
	}
}

function MenuItemDispose()
{
	try
	{
		this.item.removeNode(true);
	}
	catch(e)
	{	}
}

function runJs()
{
	try
	{
		eval(this.jsCmd);
	}
	catch(e)
	{
		alert("Error Command:\n\""+this.jsCmd+"\".\n"+e.description);
	}
}

function resetall()
{
	
	clearTimeout(fadeInst);
	clearTimeout(startFadeInst);

	for(rseti=0;rseti<MenuItemCount;rseti++)
	{
		MenuItemCollections[rseti].item.rows[0].className="MenuItem";
	}
	for(r=0;r<MenuCount;r++)
	{
		MenuCollections[r].MenuBody.filters.alpha.opacity = 0;
		MenuCollections[r].MenuBody.style.display = "none";
		MenuCollections[r].menuShadow.style.display = "none";;
	}

}

function disposeAll()
{
	clearTimeout(fadeInst);
	clearTimeout(startFadeInst);
	MainMenu = null;
	MenuItemCloneNode = null;
	MenuCount = 0;
	MenuItemCount = 0;

	try
	{
		MenuItemCollections.each(function(item)
		{
			MenuItemCollections[item].dispose();
			MenuItemCollections[item] = null;
		});
		MenuCollections.each(function(menu)
		{
			MenuCollections[menu].dispose();
			MenuCollections[menu] = null;
		});
	}
	catch(e)
	{}
}
	

function fadeOutCloneNode()
{
	
	if(MenuItemCloneNode == null)
	{
		return false;
	}
	if((MenuItemCloneNode.filters.alpha.opacity -= cloneOut) > 0)
	{
		setTimeout("fadeOutCloneNode()",Timer);
	}
	else
	{
		MenuItemCloneNode.removeNode(true);
		MenuItemCloneNode = null;
	}
}

function setMainMenu(menu)
{
	if(menu.parentMenuItem == null)
	{
		MainMenu = menu;
		menu.setZIndex(100);
	}
	else
	{
		alert("Menu父对象不为空.无法成为主菜单");
	}
}

function setMenuClick(srcElement)
{
	try
	{
	     	var Pcell=srcElement.parentElement.parentElement.parentElement;
		if(srcElement.tagName == "IMG")
		{
			Pcell = Pcell.parentElement;
		}
       		MenuItemLink = MenuItemCollections[parseInt(Pcell.id.substr(8))];
		if(MenuItemLink.tagName == "MENUITEM"&&MenuItemLink.childMenu != null)
		{
			return false;
		}
	}
	catch(e)
	{	
		resetall();
		return false;	
	}
		resetall();
}

function setMenuContextMenu(srcElement,posX,posY)
{
    	try
    	{
    	    var Pcell=srcElement.parentElement.parentElement.parentElement;
    	   
    		if(srcElement.tagName == "IMG")
    		{
    			Pcell = Pcell.parentElement;
    		}
           	MenuItemLink = MenuItemCollections[parseInt(Pcell.id.substr(8))];
           	if(MenuItemLink.tagName == "MENUITEM")
    		{
    			return;
    		}
    	}
    	catch(e)
    	{

    		resetall();
    		disposeAll();
    		//init();
    		InitializedTextMenu(srcElement);
    		if(MainMenu)
    			MainMenu.showMenu(posX,posY);
    		return;
    	}
    
    	
    	resetall();
    	disposeAll();
    	//init();
    	InitializedTextMenu(srcElement);
    	
    	if(MainMenu)
    		MainMenu.showMenu(posX,posY);	
   
}

function window.onscroll()
{
	if(MainMenu == null)
		return;
	if(MainMenu.MenuBody.style.display == "none")
		return;
	resetall();
}


function InitializedTextMenu(srcElement)
{
    var id = srcElement.id;
  
	if(id == null || id == "")
	    return null;
	var params = srcElement.params;
	//标识当前节点是否	
	var openNode = srcElement.openNode;
	var expandNode = srcElement.expandNode;
	
	var expandLabel = srcElement.expandLabel;
	//	alert("srcElement.expandLabel == null:"+(srcElement.expandLabel == null));
	var menu = getContextMenuByID(id);		
	if(menu != null)
	{

	    var Menu1 = buildMenu(menu,params,openNode,expandNode,expandLabel);       	
		setMainMenu(Menu1);
    }
}
/**
 * 右键菜单点击事件
 */
function menuclick(linkUrl,target_t)
{
	
	
    if(linkUrl == null || linkUrl == 'null')
        return;
    var prex = linkUrl.substring(0,11);
   
    if(prex ==  "javascript:")
    {
    	
	    menu_bridge.onclick = linkUrl;
	   
	}
	else
	{
		
	    menu_bridge.href = linkUrl;
	    menu_bridge.target = target_t;
	   
	}
    menu_bridge.click();

}


function textMenu()
{	
    
    	this.id       = MenuCount++;
    	this.stringId = "textMenu" + this.id;
    	this.selfMenu = null;
    	this.parentMenuItem = null;
    	this.MenuBody = null;
    	this.ItemCount = 0;
    	this.MenuItems = new Array();
    	this.zIndex = 0;
    	this.menuShadow = null;
    	MenuCollections[this.id] = this;
    	
    	this.addMenuItem = addMenuItem
    	this.addSeperate = addSeperate;
    	this.showMenu = showMenu;
    	this.fadeIn = menuFadeIn;
    	this.setZIndex = setZIndex;
    	this.createShadow = createShadow;
    	this.setShadow = setShadow;
    	this.unactiveChildMenu = unactiveChildMenu;
    	this.dispose = MenuDispose;
    	
    	oMenu = document.createElement("TABLE"); 
    	oMenu.id=this.stringId;
    	oMenu.cellPadding = 0;
    	oMenu.cellSpacing = 0;
    	oMenu.className = "Menuoutline";
    	oMenuRow = oMenu.insertRow();
    	oMenuCell= oMenuRow.insertCell();
    	oMenuCell.className = "Menuinline";
    	document.body.appendChild(oMenu);    
    	
    	this.MenuBody = oMenu;
   
    	this.selfMenu = oMenuCell;
    	this.createShadow();
	
}
/**
 * 为连接添加参数
 */
function refactorLink(linkUrl,params)
{
	
	if(linkUrl == null || params == null || params == "")
		return linkUrl;
   
	var idx = linkUrl.indexOf("?");
	if(idx == -1)
		linkUrl += "?" + params;
	else
		linkUrl += "&" + params;
	return linkUrl;
}

/**
 * 判断当前的地址是否是javascript函数
 */
function isJavsscriptFun(linkUrl)
{
	var regex = "\s*javascript:.+";
	re = new RegExp("\s*javascript:.+","i");  
	return linkUrl.match(re);
}

/**
 * openLink,expandLink,expandLabel几个参数用来制定打开和折叠项的链接和标题，
 * 他们通过右键菜单的事件元素直接获取:
 * 		openLink,expandLink设置打开和折叠/展开的链接地址，
 * 		expandLabel根据折叠和展开得具体动作来设置折叠展开菜单的标题
 */
function buildMenu(menu,params,openNode,expandNode,expandLabel)
{

		
   		var Menu1=new textMenu();
   		var menuitems = menu.getItems();

   		for(var i = 0; i < menuitems.length; i ++)
   		{
   		    var menuitem = menuitems[i];
   		    if(!menuitem.seperate)
   		    {
   		    	var t_menuitem = null;
   		    	
   				if(menuitem.type == null)
   				{   			
   					if(!isJavsscriptFun(menuitem.linkUrl))
   					{
   						t_menuitem = new MenuItem(menuitem.label,"menuclick('" + refactorLink(menuitem.linkUrl,params) + "','" + menuitem.target + "')",menuitem.icon);
   					}
   					else
   					{
   						t_menuitem = new MenuItem(menuitem.label,menuitem.linkUrl,menuitem.icon);
   					}
   						
       		    	Menu1.addMenuItem(t_menuitem);
	       		    if(menuitem.hasSubMenu())
	       		    {
	       		        var tempMenu = buildMenu(menuitem.submenu,params);
	       		        t_menuitem.addMenu(tempMenu);
	       		    }
       		    }
       			else
       			{ 
       				
       				if(menuitem.type == "expand" && expandNode && expandLabel)  	
       				{		
       					//alert("expandNode:"+expandNode);
       		    		t_menuitem = new MenuItem(expandLabel,'expandNode("' + expandNode +'");',menuitem.icon);
       		    		Menu1.addMenuItem(t_menuitem);
		       		    if(menuitem.hasSubMenu())
		       		    {
		       		        var tempMenu = buildMenu(menuitem.submenu,params);
		       		        t_menuitem.addMenu(tempMenu);
		       		    } 
       		    	}
       		    	else 
       		    	{
       		    	    if(menuitem.type == "open" && openNode)
       		    	    {       		    		    
       		    			t_menuitem = new MenuItem(menuitem.label,'document.all.item("' + openNode +'").click();' ,menuitem.icon);       		    	
       		    		    Menu1.addMenuItem(t_menuitem);
			       		    if(menuitem.hasSubMenu())
			       		    {
			       		        var tempMenu = buildMenu(menuitem.submenu,params);
			       		        t_menuitem.addMenu(tempMenu);
			       		    } 
       		    		}
       		    	}
       		    	       
       		    }
       		    		
        	}
        	else
        	{
        	    Menu1.addSeperate();
        	}
    	}
		return Menu1;
	
}

function expandNode(node)
{
	document.all.item(node).click();
}


function getContextMenuByID(identity)
{
    for(var i = 0; i < collections.length; i ++)	
    {
        
        if(collections[i].identity == identity)
            return collections[i];  
    }
    return null;
}

/**
 *  构建菜单信息缓冲区
 *
 */
function Menu(identity)
{
    
    this.collectionItems = new Array();
    this.identity = identity;
    this.addItem = addItem;
    this.addMenuSeperate = addMenuSeperate;

    this.getItems = getItems;
}


function buildItem(label,linkUrl,target,icon,type)
{
    var item = new Item(false,label,linkUrl,target,icon,type);
    return item;
}


function buildSeperate()
{
    var item = new Item(true);
    return item;
}
function addItem(item)
{    
    this.collectionItems.push(item);
}
function addMenuSeperate()
{
    this.collectionItems.push(buildSeperate());
}


function Item(seperate,label,linkUrl,target,icon,type)
{
    
    this.seperate = seperate;
    this.label = label;
    this.linkUrl = linkUrl;
    this.target = target;
    this.icon = icon;  
    this.submenu = null;  
    
    this.addSubMenu = addSubMenu;
    this.hasSubMenu = hasSubMenu;
    this.type = type;
    //this.specialLabel = specialLabel;
}

function addSubMenu(menu)
{
    this.submenu = menu;
}

function hasSubMenu()
{
    return !(this.submenu == null);
}


function getItems()
{
    return this.collectionItems;
}



function init()
{

    try
    { 
    	
        ${initscript}        
	}
	catch(e)
	{
	    alert("error:" + e.description);
	}
	
}		
init();
</script>
<a id="menu_bridge"></a>