#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
try {
	executor.delete("deleteByKey", $paramName);
} catch (Throwable e) {
	throw new $exception$start"delete ${entityName} failed::$paramName="+$paramName,e$end;
}
#elseif($componentType == 2)
try {
	${entityVarName}Service.delete${entityName}${start}$paramName$end;
	return "success";
} catch ($exception e) {
	log.error("delete ${entityName} failed:",e);
	return StringUtil.formatBRException(e);
}catch (Throwable e) {
	log.error("delete ${entityName} failed:",e);
	return StringUtil.formatBRException(e);
}
#elseif($componentType == 5)//webservice服务
try {
	${entityVarName}Service.delete${entityName}${start}$paramName$end;
}
 catch ($exception e) {
	throw e;
}
 catch (Throwable e) {
	throw new $exception$start"delete ${entityName} failed::$paramName="+$paramName,e$end;
}
#end 
 