#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
TransactionManager tm = new TransactionManager();
try {
	tm.begin();
#if($primaryKeyField.type.equals("long"))
	executor.deleteByLongKeys("deleteByKey", $paramName);
#elseif($primaryKeyField.type.equals("short"))	
	executor.deleteByShortKeys("deleteByKey", $paramName);
#else	
	executor.deleteByKeys("deleteByKey", $paramName);
#end	
	tm.commit();
} catch (Throwable e) {
	
	throw new $exception$start"batch delete ${entityName} failed::${paramName}="+${paramName},e$end;
}
finally
{
	tm.release();
}
#elseif($componentType == 2)
try {			 
	${entityVarName}Service.deleteBatch${entityName}( ${paramName});
	return "success";
} catch (Throwable e) {
	log.error("delete Batch ${paramName} failed:",e);
	return StringUtil.formatBRException(e);
} 
#elseif($componentType == 5)//webservice服务
try {
	${entityVarName}Service.deleteBatch${entityName}( ${paramName});
}
 catch ($exception e) {
	throw e;
}
 catch (Throwable e) {
	throw new $exception$start"batch delete ${entityName} failed::${paramName}="+${paramName},e$end;
}
#end