#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
try{
	$entityName bean=executor.queryObject($entityName${dot}class, "selectById", $paramName);
	return bean;
}catch(Throwable e){
	throw new $exception$start"get ${entityName} failed::${paramName}="+${paramName},e$end;
}
#elseif($componentType == 2)
try {
	$entityName $entityVarName = ${entityVarName}Service.get$entityName$start${paramName}$end;
	model.addAttribute("$entityVarName", $entityVarName);
	return "path:get$entityName";
} catch ($exception e) {
	throw e;
} catch (Throwable e) {
	throw new $exception("get $entityName failed::${paramName}=" + ${paramName}, e);
}
#elseif($componentType == 5)//webservice服务
try {
	$entityName $entityVarName = ${entityVarName}Service.get$entityName$start${paramName}$end;
	return $entityVarName;
}
 catch ($exception e) {
	throw e;
}
 catch (Throwable e) {
	throw new $exception$start"get ${entityName} failed::${paramName}="+${paramName},e$end;
}
#end