#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
ListInfo datas=null;
try{
	datas=executor.queryListInfoBean($entityName${dot}class,"queryList$entityName", offset, pagesize, $paramName);
}catch(Exception e){
	throw new  $exception$start"pagine query $entityName failed:",e$end;
}
return datas;
#elseif($componentType == 2)
try {
    if(sortKey != null && !sortKey.equals(""))
    {
    	conditions.setSortKey(sortKey);
    	conditions.setSortDesc(desc);
    }
    #if($conditionFields && $conditionFields.size() > 0)
    	#foreach($cf in $conditionFields)
    		#if($cf.like)
    		     $cf.type $cf.fieldName = conditions.get$cf.mfieldName$start$end;
    		     if(${cf.fieldName} != null && !${cf.fieldName}.equals(""))
    		     {
    		     	conditions.set$cf.mfieldName$start"%"+$cf.fieldName+"%"$end;
    		     }
    		#end
    	#end
	#end    
	ListInfo ${entityVarName}s = ${entityVarName}Service.queryListInfo${entityName}s(conditions,offset,pagesize);
	model.addAttribute("${entityVarName}s", ${entityVarName}s);
	return "path:queryListInfo${entityName}s";
} catch ($exception e) {
	throw e;
} catch (Exception e) {
	throw new $exception("pagine query ${entityName} failed:", e);
}
#end