#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
try{
	List<$entityName> beans=executor.queryListBean($entityName${dot}class,"queryList$entityName", conditions);
	return beans;
}catch(Exception e){
	throw new $exception$start"query $entityName failed:",e$end;
}
#elseif($componentType == 2)
try {

    #if($conditionFields && $conditionFields.size() > 0)
    	#foreach($cf in $conditionFields)
    		#if($cf.like)
    		     $cf.type value = conditions.get$cf.mfieldName$start$end;
    		     if(value != null && !value.equals(""))
    		     {
    		     	conditions.set$cf.mfieldName$start"%"+value+"%"$end;
    		     }
    		#end
    	#end
	#end    
	List<${entityName}> ${entityVarName}s = ${entityVarName}Service.queryList${entityName}s(conditions);
	model.addAttribute("${entityVarName}s", ${entityVarName}s);
	return "path:queryList${entityName}s";
} catch ($exception e) {
	throw e;
} catch (Exception e) {
	throw new $exception${start}"query ${entityName} failed:", e$end;
}	
#end