#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
#if($componentType == 1)
try{
	List<$entityName> beans=executor.queryListBean($entityName${dot}class,"queryList$entityName", conditions);
	return beans;
}catch(Exception e){
	throw new $exception$start"query $entityName failed:",e$end;
}
#elseif($componentType == 2)
try {
	List<${entityName}> ${entityVarName}s = ${entityVarName}Service.queryList${entityName}s(conditions);
	model.addAttribute("${entityVarName}s", ${entityVarName}s);
	return "path:queryList${entityName}s";
} catch ($exception e) {
	throw e;
} catch (Exception e) {
	throw new $exception${start}"query ${entityName} failed:", e$end;
}	
#end