#set( $start = '(' )
#set( $end = ')' )
#set( $dot = '.' )
try {
	$entityName $entityVarName = ${entityVarName}Service.get$entityName$start${paramName}$end;
	model.addAttribute("$entityVarName", $entityVarName);
	return "path:update$entityName";
} catch ($exception e) {
	throw e;
} catch (Throwable e) {
	throw new $exception("get $entityName failed::${paramName}=" + ${paramName}, e);
}
