.pg-sort-desc {
	padding:2px 13px 3px 0px;
	background:url('themes/default/images/datagrid_sort_desc.gif') no-repeat center center;
}
.pg-sort-asc {
	padding:2px 13px 3px 0px;
	background:url('themes/default/images/datagrid_sort_asc.gif') no-repeat center center;
}