.Pop_TrOut {
	BORDER-RIGHT: #6577B9 1px solid;
	BORDER-TOP: #6577B9 1px solid;	
	FONT: 11px Verdana;
	BORDER-LEFT: #6577B9 1px solid;
	CURSOR: default;	
	BORDER-BOTTOM: #6577B9 1px solid;
	HEIGHT: 20px;
	padding-left:5px;
	
	
}
.Pop_Tr {
	BORDER-RIGHT: #6577B9 1px solid;
	BORDER-TOP: #6577B9 1px solid;
	FONT: 11px Verdana;
	BORDER-LEFT: #6577B9 1px solid;
	CURSOR: default;
	BORDER-BOTTOM: #6577B9 1px solid;
	padding-left:5px;
	HEIGHT: 20px;
	
}
.Pop_TrOver {
	FILTER: alpha(opacity=100);
	FONT: 11px verdana;
	CURSOR: default;
	COLOR: #ffffff;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #6373BD;
	padding-left:5px;
	
}
.Pop_Table { background:url(menu_mouse_rightkey_bg.gif) repeat-y; width:130px;HEIGHT: 100%;border:1px #CCCCCC solid; padding:1px;}


.Pop_Body {
	filter:alpha(opacity=100);
	background:url(menu_mouse_rightkey_bg.gif) repeat-y;
}

.dis{ width:100%; }


hr{ width:100%; border-top:1px #6577B9 solid;border-bottom:1px #ffffff solid; margin:0px; padding:0px; height:2px;}







