.Menuoutline {
	BORDER-RIGHT: #aca899 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aca899 1px solid; DISPLAY: none; PADDING-LEFT: 0px; FILTER: alpha(opacity=0); PADDING-BOTTOM: 0px; BORDER-LEFT: #aca899 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aca899 1px solid; POSITION: absolute
}
.Menuinline {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff
}
.MenuItem {
	BORDER-RIGHT: #d4d0c8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d4d0c8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px Verdana; BORDER-LEFT: #d4d0c8 1px solid; CURSOR: default; PADDING-TOP: 0px; BORDER-BOTTOM: #d4d0c8 1px solid; HEIGHT: 20px
}
.MenuItemOver {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: alpha(opacity=100); PADDING-BOTTOM: 0px; FONT: 11px verdana; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #316ac5
}
.MenuShadow {
	DISPLAY: none; FILTER: progid:DXImageTransform.Microsoft.Blur(makeShadow=true,pixelRadius=3.0,shadowOpacity=0.8); WIDTH: 10px; POSITION: absolute; BACKGROUND-COLOR: #999999
}
.MenuSeparatorUp {
	BACKGROUND-COLOR: #aca899
}
.MenuSeparatorDown {
	BACKGROUND-COLOR: #ffffff
}
