a {
	text-decoration: none;
    cursor:hand;
	color: black;
}

a:hover {
	text-decoration: underline;
}

td {
	font-family: Tahoma;
	font-size: 12px;
	color: Black;
}

.unselectedTextAnchor {
	color: black;
    cursor:hand;
	background-color: document . backgroundColor
}

.selectedTextAnchor {
	color: white;
    cursor:hand;
	background-color: #191970
}
