/build.log
/build-all.bat.bak
/buildaop.log
/buildmvc.log
/build-persistent-1.log
/event.log
/security.log
/apacheinstall.txt.bak
/apacheinstall.txt
/buildcore.log
/security-web.log
/build.xml.bak
/build-bboss-rpc-only.bat.bak
/build-bboss-security-web.bat.bak
/build-rpc.log
