/***
Custimized Bootstrap Wells
***/

.well {
  background-color: #eee;
  border: 0;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;        
}
