#set( $shell = '#' )
${shell}描述:${moduleCNName}国际化#if($isZh)中文#else英文#end属性配置文件。
${shell}author:$author
${shell}CopyRight:$company
${shell}版本:$version 
${shell}Date: $gendate
$namespacei18n.$moduleName=#if($isZh)$moduleAsciiCNName#else$moduleName#end

#foreach($field in $fields)	  
$namespacei18n.$field.fieldName=#if($isZh)$field.fieldAsciiCNName#else$field.fieldName#end

#end