#set( $if = '#if' )
#set( $end = '#end' )
#set( $m = '$' )
#set( $equal = 'equals' )
#set( $else = '#else' )
select * from $tableName where 1=1
#if($conditions && $conditions.size() > 0) 
#foreach($condition in $conditions)
#if($condition.type.equals("String"))
$if($m$condition.fieldName && !$m$condition.fieldName.$equal(""))
	and $condition.columnname #if($condition.like)like #else=#end#[$condition.fieldName]		
$end
#else
	and $condition.columnname=#[$condition.fieldName]
#end	
#end#end 
$if(${m}sortKey && !${m}sortKey.$equal(""))
order by ${m}sortKey ${if}(${m}sortDesc)desc$else asc$end
#if($sorts && $sorts.size() > 0)
#foreach($sort in $sorts)
$if(!${m}sortKey.$equal("$sort.columnname"))
	,$sort.columnname#if($sort.desc) desc#else asc#end
$end	
#end
#end
$else
#if($sorts && $sorts.size() > 0)
order by #foreach($sort in $sorts)
#if($velocityCount >0),#end$sort.columnname#if($sort.desc) desc#else asc#end#end#end

$end