form,iframe{padding: 0px;margin: 0px;border: 0px}
.button {/*查询确认按扭*/
	background: url(../images/botton_064.gif) no-repeat center;
	padding-left: 6px;
	height: 25px;
	width: 86px;
	border: none;
	font-family: "宋体";
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 25px;
	margin-bottom: 6px;
	margin-top: 6px;
	margin-right: 3px;
	font-weight:bold;
}
.button_1 {/*一般按扭*/
	background: url(../images/botton_064_1.gif) repeat-x center;
	padding-left:4px;
	padding-right:4px;
	height: 23px;
	border:1px solid #4c849f;
	font-family: "宋体";
	font-size: 13px;
	color: #0000;
	text-decoration: none;
	line-height: 23px;
	margin-bottom: 6px;
	margin-top: 6px;
	margin-right: 3px;
	cursor:hand;
}
.longbutton {/*查询确认按扭*/
	background: url(../images/niu2.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 125px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.button2 {/*编辑按扭*/
	padding-left: 6px;
	height: 24px;
	width: 45px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #0000;
	text-decoration: none;
	line-height: 25px;
	margin-bottom: 3px;
	margin-top: 6px;
	font-weight: normal;
	background-color: #EFEFEF;
	background-image: url(../images/);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 6px;
	margin-left: 3px;
}
.loginbutton {/*查询确认按扭*/
	padding-left: 6px;
	height: 27px;
	width: 69px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #0000;
	text-decoration: none;
	line-height: 25px;
	margin-bottom: 6px;
	margin-top: 6px;
	background-image: url(../images/loginniu.jpg);
	background-repeat: no-repeat;
	background-position: center;

}
.listbutton1 {/*编辑按扭*/
	background: url(../images/listA.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.addbutton1 {/*编辑按扭*/
	background: url(../images/addniu.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.addbutton2 {/*编辑按扭*/
	background: url(../images/addniu.gif) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.xbutton1 {/*编辑按扭*/
	background: url(../images/xniu.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.xbutton2 {/*编辑按扭*/
	background: url(../images/xniu.gif) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.sbutton1 {/*编辑按扭*/
	background: url(../images/sniu.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.sbutton2 {/*编辑按扭*/
	background: url(../images/sniu.gif) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px;
}
.button5{background: url(../images/jf_bg_06.jpg) no-repeat center center;height: 27px;width: 88px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px; }