/* CSS Document */
body,td,th {
	font-size: 12px;
}
body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.bs1 {/*当前项*/
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/s1.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 190px;
	line-height: 23px;
}
.bs1_1 {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/s1_1.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 189px;
	line-height: 23px;
}

.bs2 {/*当前项*/
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/s2.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 204px;
	line-height: 23px;
}
.bs2_1 {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/s2_1.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 204px;
	line-height: 23px;
}
.bs3 {/*当前项*/
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/s3_1.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 202px;
	line-height: 23px;
}
.bs3_1 {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/s3.jpg);
	background-repeat: no-repeat;
	text-align: center;
	height: 23px;
	width: 202px;
	line-height: 23px;
}
.xl1 {/*下画线颜色*/
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #43a9ea;
}
.xl2 {/*下画线颜色*/
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;
}
.xl2 td {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.btable {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #43a9ea;
}
.btable td {
	background-color: #f2f5f7;
	padding: 5px;
}
