a.niulink:link,a.niulink:visited {
	font-size: 12px;
	line-height: 22px;
	color: #666666;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	text-decoration: none;
}
a.niulink:hover {
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	background-color: #EEEEEE;
	text-decoration: none;
}
a.niulink2:link,a.niulink2:visited,a.niulink2:hover {
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	background-color: #FF9900;
	text-decoration: none;
}
 
body,td,th {
	font-size: 12px;
}
body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.lin {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
}

.bb2 {
	height: 450px;
	width: 500px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.blak {	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #0033FF;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
.Menu {
position:relative;
width:204px;
height:127px;
z-index:1;
background: #FFF;
border:1px solid #000;
margin-top:-100px;
display:none;
}
.Menu2 {
position: absolute;
left:0;
top:0;
width:100%;
height:auto;
overflow:hidden;
z-index:1;
}
.Menu2 ul{
	padding:0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.Menu2 ul li{
   width:100%;height:25px;line-height:25px;text-indent:15px;
   border-bottom:1px dashed #ccc;color:#666;cursor:pointer;
   change:expression(
   this.onmouseover=function()
    this.style.background="#F2F5EF";
  }
  
 this.onmouseout=function(){
  this.style.background="";
}
.form{
	height:auto;
}
.form div{position:relative;top:0;left:0;margin-bottom:8px}

#List1,#List2,#List3{
	left:0px;
	top:93px;
	position: relative;
}
#tm2008style .select_box{width:132px;height:24px;}

#tm2008style div.tag_select{
	display:block;
	color:#000;
	width:112px;
	height:22px;
	line-height:22px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/niu_di_03.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}
#tm2008style div.tag_select_hover{
	display:block;
	color:#0066CC;
	width:112px;
	height:22px;
	line-height:22px;
	border: 1px solid #0B60EC;
	background-image: url(../images/niu_di_03.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	background-color: #F0F4FF;
}
#tm2008style div.tag_select_open{
	display:block;
	color:#000;
	width:112px;
	height:22px;
	line-height:22px;
	background-image: url(../images/niu_di2_03.jpg);
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #CCCCCC;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

#tm2008style ul.tag_options{
	position:absolute;
	margin:0;
	list-style:none;
	width:110px;
	margin:0;
	width:80px;
	background-color: #999999;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 1px;
	padding-left: 0;
}
#tm2008style ul.tag_options li{
	display:block;
	width:112px;
	height:22px;
	text-decoration:none;
	line-height:22px;
	color:#000;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}

#tm2008style ul.tag_options li.open_hover{
	color:#FFFFFF;
	background-color: #999999;
}
#tm2008style ul.tag_options li.open_selected{
}
#tabb {
	float: left;
	width: 60px;
	margin-left: 5px;
}
#tabb2 {
	float: left;
	width: 80px;
	margin-left: 5px;
}
.select4{  width:71%;overflow:hidden;font-family: Arial;border:1px solid #7F9DB9; }