/************************************************************html***************************************************************/
html {
    filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
/************************************************************主表main************************************************************/
.table_main {
	width: 100%;
	height: 100%;
	cellpadding:0px;
	cellspacing:0px;
	border:0px;
	border-collapse:collapse;
}
/************************************************************主表main************************************************************/
/************************************************************查询页面顶端，显示当前标题 ************************************************************/
.table_title {
	border:1px solid #3C81C4;
	border-bottom:0px;
	background:url(../images/table_title_bg.jpg);
	width:100%;
	margin-top:5px;
	cellpadding:0px;
	cellspacing:0px;
	white-space: nowrap;
	line-height:10px;
}
.table_title .td_left {
	width:20px;
}
.table_title div {
	padding-top:8px;
}
.table_title div strong {
	font-size:14;
	font-weight: bold;
	color: #ffffff;
}
/************************************************************查询页面顶端，显示当前标题 ************************************************************/
/************************************************************查询页面顶端，显示查询按钮项 ************************************************************/
.table_query {
	width:100%; 
	border-collapse:collapse;
	padding:3px;
	color: #000000;
	background-color: #E4F1FB;
	border: 1px solid #73B1EF;
}
.table_query .td1 {

}
.table_query .td1 table {
	width:100%; 
	border:0px;
	cellpadding:0;
	cellspacing:0;
	font-size:14;
}
.table_query .td1 table span {
	color:#000000;
	text-align: left;
	margin-left: 12px;
}
.table_query .td1 table span input{
	background-color: #FFFFFF;
	border: 1px solid #BCBCBC;
	size:30;
}
.table_query .td2 {

}
.table_query .td2 input{
	background: url(../images/bottom_query.gif) no-repeat center; 
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/************************************************************查询页面顶端，显示查询按钮项 ************************************************************/
/************************************************************查询页面顶端，显示功能按钮项************************************************************/
.table_function {
	width:100%;
	border:1px solid #73B1EF;
	border-bottom:0px;
	border-collapse:collapse;
	background:#ffffff;
	padding:3px;
	color: #000000;
	margin: 0px;
	cellpadding:0px;
	cellspacing:0px; 
}
.table_function td{
	background-color:#E4F1FB;
	height:33px;
}
.table_function td input{
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/************************************************************查询页面顶端，显示功能按钮项************************************************************/
/************************************************************查询页面,数据列表显示************************************************************/
.table_listdata {
	margin:0px;
	width:100%;
	border-collapse:collapse; 
	font-size:14px;
	border:1px solid #89C6E5; 
	border-top:0px;
	color:#214077;
}

.table_listdata td {
	border:1px solid #73B1EF;
	border-top:0px;
	color:#000000;
	padding: 4px;
}

.table_listdata .pagefoot{
	color:#000000;
	text-align: center;
	line-height: 30px;
	background-color: #E4F1FB;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size:13;
}
.table_listdata .pagefoot input {
	border:1px solid #73B1EF;
}
/************************************************************查询页面,数据列表显示************************************************************/
/************************************************************表单页面,显示当前标题************************************************************/
.table_form_title {
	border: 1px solid #3C81C4;
	color: #FFFFFF;
	background-image: url(../images/table_title_bg.jpg);
	height: 25px;
	font-weight: bold;
	margin-top: 5px;
	width:100%;
	cellpadding:0px;
	cellspacing:0px;
}
.table_form_title td {
	width:120px;
	font-size:14px;
}
/************************************************************表单页面,提示信息************************************************************/
.table_note {
	border-left: 1px solid #3C81C4;
	border-right: 1px solid #3C81C4;
	border-collapse:collapse;
	background:#ffffff;
	padding:3px;
	color: #000000;
	margin: 0px;
	line-height: 23px;
	width:100%;
	cellpadding:0px;
	cellspacing:0px;
}
.table_note td {
	text-align:left;
	color:#999999;
	background-image: url(../images/table_note_bg.gif);
	font-size: 12px;
	height: 25px;
	line-height: 15px;
	width:100%;
}
/************************************************************表单页面,提示信息************************************************************/
/************************************************************表单页面,表单内容************************************************************/
.table_context {
	border: 1px solid #3C81C4;
	width:100%;
	border-collapse:collapse;
	background:#ffffff;
	padding:3px;
	color: #000000;
	margin: 0px;
	line-height: 28px;
	font-size:13px;
}
.table_context .param {
	border:1px solid #73B1EF;
	width:10%;
	text-align:right;
	background-color: #E4F1FB;
	nowrap:true;
}
.table_context .context {
	border:1px solid #73B1EF;
	height:30px;
}
.table_context .context table {
	font-size:13px;
}
/*附件底色样式*/
.table_context .div_affix {
	background-color: #E2F5BC;
	line-height: 18px;
	height: 22px;
	width: 100%;
	margin: 0px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
/*删除SPAN*/
.table_context .span_delete {
	cursor:hand;
	font-size: 14px;
	color: #FF6600;
}
/************************************************************表单页面,表单内容************************************************************/
/************************************************************表单页面,功能按钮************************************************************/
.table_form_function {
	width:100%;
	border:1px solid #73B1EF;
	border-collapse:collapse;
	background:#ffffff;
	padding:3px;
	color: #000000;
	margin: 0px;
	cellpadding:0px;
	cellspacing:0px; 
}
.table_form_function td{
	background-color:#E4F1FB;
	height:33px;
}
.table_form_function td input{
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/************************************************************表单页面,功能按钮************************************************************/









/************************************************************显示列表表头************************************************************/
.report_header{
	background: url(../images/report_head.jpg);
	font-weight: bold;
	text-align:center;
	color:#000000;
	line-height: 20px;
	border:1px solid #73B1EF;
	border-top:0px;
}
/************************************************************显示列表表头************************************************************/
/************************************************************文件浏览控件样式************************************************************/
.input_file {
	background: url(../images/di_niu.gif) no-repeat center;  
	background-color: #FFFFFF;
	border: 1px solid #BCBCBC;
	font-size: 14px;
	font-family: "宋体";
	color: #000000;

}
/************************************************************文件浏览控件样式************************************************************/
/************************************************************IMG************************************************************/
/*手形*/
.img_click {
	cursor: hand;
/*	text:expression(src="../resources/skin/default/images/date_ico.gif");*/
}
/*无边框*/
.img_noborder {
	width:15px;
	height:16px;
	border:0px;
}
/************************************************************IMG************************************************************/
/************************************************************输入框,text************************************************************/
.input_text {
	background-color: #FFFFFF;
	border: 1px solid #BCBCBC;
}
/************************************************************输入框,text************************************************************/
/************************************************************输入框,radio************************************************************/
.input_radio {
	border:0px;
}
/************************************************************输入框,radio************************************************************/
/************************************************************按钮类************************************************************/
/*新增*/
.button_new{
	background: url(../images/bottom_function_new.gif) no-repeat center; 
}
/*修改*/
.button_modify{
	background: url(../images/bottom_function_modify.gif) no-repeat center; 
}
/*删除*/
.button_delete{
	background: url(../images/bottom_function_delete.gif) no-repeat center; 
}
/*保存,返回,重置*/
.button_default {
	background: url(../images/button_default.gif) no-repeat center; 
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/*公文起草*/
.button_add {
	background: url(../images/button_add.gif) no-repeat center; 
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/*发送*/
.button_send {
	background: url(../images/button_send.gif) no-repeat center; 
	padding-left: 6px; 
	height: 26px;
	width: 75px;
	border: none;
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
/*主动授权*/
.buttons45 {
	background: url(../images/ns.gif) no-repeat center; padding-left: 6px; height: 26px;width: 88px;border: none;font-family: "宋体";font-size: 13px;color: #000000;text-decoration: none;
}
/************************************************************按钮类************************************************************/
/************************************************************符号红色"*"样式************************************************************/
.STYLE2 {color: #FF6600}
/************************************************************符号红色"*"样式************************************************************/
/************************************************************空行************************************************************/
.table_null {
	margin-top: 4px;
	margin-bottom: 4px;
}
/************************************************************空行************************************************************/
/************************************************************超链接************************************************************/
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover{position: relative; top:1px}
/************************************************************超链接************************************************************/
/************************************************************超链接<自定义>************************************************************/
.a_highlight:link {
	color: #000000;
	text-decoration: underline;
}
.a_highlight:visited {
	color: #993333;
	text-decoration: underline;
}
.a_highlight:hover{
	color:red; 
	text-decoration: underline; 
}
/************************************************************超链接<自定义>************************************************************/
.td_query_left {
	width:20px;
}