@charset "utf-8";
/* CSS Document */
body{ font-family:"宋体";}
img{ border:none;}



.nextpage {
	 padding:2px 0px;  color:#2969a9; 
}
.nextpage A {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #dddddd 1px solid; COLOR: #036cb4; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid; TEXT-DECORATION: none
}
.nextpage A:hover {
	BORDER-RIGHT: #ff5a00 1px solid; BORDER-TOP: #ff5a00 1px solid; BORDER-LEFT: #ff5a00 1px solid; COLOR: #666; BORDER-BOTTOM: #ff5a00 1px solid
}
.nextpage A:active {
	BORDER-RIGHT: #ff5a00 1px solid; BORDER-TOP: #ff5a00 1px solid; BORDER-LEFT: #ff5a00 1px solid; COLOR: #666; BORDER-BOTTOM: #ff5a00 1px solid
}
.nextpage .current {
	BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4
}
.nextpage .disabled {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #dddddd 1px solid; COLOR: #a0a0a0; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid
}


.fs1{ font-size:24px; font-weight:bold;color:#800000;}
.fs3{font-size:14px;color:#fff;}
.fs4{ font-weight:bold;}
.fs5{font-size:14px;}


.fc1{color:#fff;}
.fc2{color:#800000;}/*深红*/
.fc3{color:#808080;}/*灰*/
.fc4{ color:#03588f;}/*深蓝*/
.fc5{ color:#ff0000;}/*红*/
.fc6{ color:#414141;}/*深灰*/
.fc7{ color: #006600;}/*绿色*/

.tox2{padding: 5px;	border: 1px solid #528fc8;}
.tox18{border: 1px solid #528fc8;}
.tox3 {	margin-top: 8px;margin-bottom: 8px;}
.tox2 .t4 {font-size: 14px;font-weight: bold;color: #FFFFFF;}
.tox4{border-left: 1px solid #E0E0E0;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0; padding:6px 6px;}
.tox5{margin-bottom: 2px;	border: 1px solid #528fc8; padding-top:5px; padding-right:6px;}
.tox6 td{padding: 5px;	border-left: 1px solid #ffae40;border-right: 1px solid #ffae40;border-bottom: 1px solid #ffae40; background-color:#fffeed;}
.tox6 td tr td{ border:none; height:10px;line-height: 10px;}
.tox9 tr td{ border:none;}
.tox10 td{padding:2px 0px;}
.tox10{border-collapse:collapse;background:#fffeed;border: 1px solid #ffae40;padding-left:5px;} /*新加*/
.tox11 {margin-top: 2px;margin-bottom: 1px;	border: 1px solid #528fc8;}
.tox12{border-collapse:collapse;}/*0316新加*/
.tox12 td {border-bottom: 1px solid #528fc8;border-left: 1px solid #528fc8;border-right: 1px solid #528fc8;padding: 5px;}/*0316新加*/
.tox12 td tr td{ border:none; height:10px;line-height: 10px;}/*0316新加*/


.yjcolor5{ width:101px; height:32px; line-height:32px; background: url(../images/jf_bg_05.jpg) no-repeat left center; color:#FFFFFF; font-weight:bold; padding-top:4px;}
.yjcolor5 a{color:#FFFFFF;}
.yjcolor6{ width:88px; height:24px; line-height:24px; background: url(../images/jf_bg_06.jpg) no-repeat center center; color:#FFFFFF; font-weight:bold;}
.yjcolor6 a{color:#FFFFFF;}
.yjcolor7{ width:100px; height:26px; line-height:26px;  background: url(../images/grxx_03.jpg) no-repeat center center; color:#036CB4; font-weight:bold;}
.yjcolor7 a{color:#036CB4;}
.yjcolor8{ width:100px; height:26px;line-height:26px; background: url(../images/grxx_04.jpg) no-repeat center center; color:#036CB4;}
.yjcolor8 a{color:#036CB4;}
.yjcolor9{ width:101px; height:32px; line-height:32px; background: url(../images/grxx_10.jpg) no-repeat center center; color:#fff;  font-weight:bold; padding-top:4px;}
.yjcolor9 a{color:#fff;}
.yjcolor10{width:86px; height:32px; line-height:32px; background: url(../images/grxx_11.jpg) no-repeat left center; color:#fff; font-weight:bold;}
.yjcolor10 a{color:#fff;}
.yjcolor11{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_01.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor11 a{color:#fff;}
.yjcolor12{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_02.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor12 a{color:#fff;}
.yjcolor13{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_03.jpg) no-repeat left top; color:#cb9f04;  font-weight:bold;}/*0323修改*/
.yjcolor13 a{color:#cb9f04;}/*0323修改*/
.yjcolor14{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_04.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor14 a{color:#fff;}
.yjcolor15{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_05.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor15 a{color:#fff;}
.yjcolor16{width:88px; height:20px; line-height:20px; background: url(../images/ssjk_06.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor16 a{color:#fff;}
.yjcolor17{width:86px; height:18px; line-height:18px; background: url(../images/grxx_13.jpg) no-repeat left top; }
.yjcolor17 a{}
.yjcolor18{width:88px; height:20px;  line-height:20px; background: url(../images/ssjk_07.jpg) no-repeat left top; color:#6d6d6d;  font-weight:bold; }/*0323修改*/
.yjcolor18 a{color:#6d6d6d;}/*0323修改*/
.yjcolor19{ width:70px; height:26px; line-height:26px; background: url(../images/yjjk_05.jpg) no-repeat center center; color:#036CB4; font-weight:bold;}
.yjcolor19 a{color:#036CB4;}
.yjcolor20{ width:70px; height:26px; line-height:26px; background: url(../images/yjjk_06.jpg) no-repeat center center; color:#036CB4;}
.yjcolor20 a{color:#036CB4;}

.yjcolor21{width:57px; height:20px; line-height:20px;background: url(../images/ssjk_08.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor21 a{color:#fff;}

.yjcolor22{width:57px; height:20px; line-height:20px;background: url(../images/ssjk_09.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor22 a{color:#fff;}

.yjcolor23{width:57px; height:20px; line-height:20px;background: url(../images/ssjk_10.jpg) no-repeat left top; color:#cb9f04;  font-weight:bold;}/*0323修改*/
.yjcolor23 a{color:#cb9f04;}/*0323修改*/

.yjcolor24{width:57px; height:20px; line-height:20px;background: url(../images/ssjk_11.jpg) no-repeat left top; color:#fff;  font-weight:bold;}
.yjcolor24 a{color:#fff;}

.yjcolor25{width:57px; height:20px; line-height:20px;background: url(../images/ssjk_12.jpg) no-repeat left top; color:#6d6d6d;  font-weight:bold;}/*0323修改*/
.yjcolor25 a{color:#6d6d6d;}/*0323修改*/

.yjcolor26{width:40px; height:20px;line-height:20px;background: url(../images/ssjk_13.jpg) no-repeat left top; color:#fff;  font-weight:bold;}/*0316新加*/
.yjcolor26 a{color:#fff;}

.yjcolor27{width:40px; height:20px;line-height:20px;background: url(../images/ssjk_14.jpg) no-repeat left top; color:#6d6d6d;  font-weight:bold;}/*0323修改*/
.yjcolor27 a{color:#6d6d6d;}/*0323修改*/


.button3{background: url(../images/botton_064.gif) no-repeat center;padding-left: 6px;height: 25px;width: 86px;border: none;font-family: "宋体";font-size: 14px;color: #fff;text-decoration: none;line-height: 25px;margin-bottom: 1px;margin-top: 1px;font-weight:bold;}

.button4{background: url(../images/grxx_13.jpg) no-repeat center; text-align:center;height: 20px;width: 86px;border: none;text-decoration: none;line-height: 20px;margin-bottom: 1px;margin-top: 1px;}


.taobox {height:20px;line-height:20px;margin-top: 5px;text-align: left;padding-left: 10px;font-weight: bold;background-image: url(../images/di1.jpg);color: #03588e;background-repeat: repeat-x;background-position: top;}






.bgcolor1{ background-color:#F3F8FC;}/*淡蓝*/
.bgcolor2{ background-color:#FFFFEF;}/*稍深一点的淡黄*/
.bgcolor3{ background-color:#f0974f;}/*桔红*/
.bgcolor4{ background-color:#f2f7fb;}/*淡蓝*/
.bgcolor5{background-color: #f8f8f7;}/*淡黄*/


.input1{ font-size:12px; font-family:"宋体"; width:100px; border:1px solid #7F9DB9;}
.input2{font-size:12px; font-family:"宋体";  border:1px solid #7F9DB9;}
.input3{  font-family: Arial;  border:1px solid #7F9DB9; width:240px;}
.input4{  font-family: Arial;  border:1px solid #7F9DB9; width:300px;}
.input5{  font-family: Arial;  border:1px solid #7F9DB9; width:150px;}
.input6{  font-family: Arial;  border:1px solid #7F9DB9; width:70%;}

.select1{font-size:12px; font-family:"宋体"; width:50px; border:1px solid #7F9DB9;}
.select2{  width:244px;overflow:hidden;font-family: Arial; }
.select3{  width:154px;overflow:hidden;font-family: Arial; }
.select4{  width:71%;overflow:hidden;font-family: Arial;border:1px solid #7F9DB9; }


.float1{float:left;}
.float2{float:right;}
.mar1{ margin-top:6px;}
.padd1{ padding:0px 0px 0px 4px;}
.padd2{ padding-top:6px;}




.Ctable{border-collapse:collapse;background:#ffffff;padding:0px;color: #000000;margin: 0px;border: 1px solid #528fc8;font-size: 13px;}
.Ctable td{	border:1px solid #9abcdc;padding: 3px;}

.Ctable2{border-collapse:collapse;background:#ffffff;padding:0px;color: #000000;margin: 0px;border: 1px solid #528fc8;font-size: 12px;}
.Ctable2 td{border:1px solid #9abcdc;padding:2px;}

.td_bor1{border-bottom: 1px solid #528fc8;padding:2px;}/*新加*/
.Ctable3 td{}/*新加*/



.lujing{ background:url(../images/sjjk_01.jpg) repeat-x left top;}
.sjjk_p1{ text-indent:2.1em; line-height:1.5em; text-justify:inter-ideograph;}
.sjjk_p2{ line-height:1.2em; text-justify:inter-ideograph;}/*0316新加*/