body,html
{
	font-size:12px;
	font-family:Calibri;
	padding:0;
	margin:0;
	background:#7d9edb url(../images/bg1.gif) center top repeat-x;
}
a img
{
	border:0px;
	}
.functree
{
	margin:0;
	padding:0;
	}
.functree ul,.functree li
{
	list-style-type:none;
	margin:0;
	padding:0;
	}
.functree li
{
	padding-left:14px;
	line-height:18px;
	}
.functree span.modules
{
	cursor:pointer;
	color:#783432;
	}
.functree li.collapse
{
	background:url(../images/treeview/collapse.gif) no-repeat left 4px;
	}
.functree li.expand
{
	background:url(../images/treeview/expand.gif) no-repeat left 4px;
	}

.divTop
{
	height:100px;
	background:url(../images/logo.gif) no-repeat 20px center;
	}
.divTop span
{
	padding-left:20px;
	line-height:70px;
	font-size:16px;
	}
.divMain
{
	float:left;
	clear:both;
	}
.divLeft,.divRight
{
	display:none;
	float:left;
	width:100%;
	}
#divMainLoader
{
	position:absolute;
	top:15px;
	right:15px;
	z-index:100;
	width:80px;
	height:20px;
	line-height:20px;
	background:#EEF3F7 url(../images/smallloader.gif) no-repeat 8px center;
	border:1px solid #A5B6C8;
	padding-left:30px;
	font-family:10px;
	display:none;
	}