/* CSS Document */
body,td,th {
	font-size: 12px;
	line-height: 22px;
}
body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
a:link {font-size: 12px;color: #000000;text-decoration: none;	line-height: 24px;}
a:visited {font-size: 12px;color: #000000;text-decoration: none;	line-height: 24px;}
a:hover {color: #FF6600;}

.textjf{font-size: 13px;color: #000080;text-decoration: none;	line-height: 24px;}
.textjf a:link {font-size: 13px;color: #000080;text-decoration: none;	line-height: 24px;}
.textjf a:visited {font-size: 13px;color: #000080;text-decoration: underline;	line-height: 24px;}
.textjf a:hover {color: #FF6600;font-weight: bold;}

.jfxl {
}
.jfxl td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #43a9ea;
	
}
.jfxl .c2{font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 24px;}
	
.jfxl .c1 {
	font-size: 12px;
	color: #555555;
}

.jfxl2 {
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #c5d2da;
	background-color: #ffffef;
}
.jfxl2 td {
	padding: 5px;
}
.jfxl3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c5d2da;
	background-image: url(../images/gl_12.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	line-height: 22px;
}
.jfxl4 {
	background-image: url(../images/gl_11.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	line-height: 24px;
}
.tox1 {
	padding: 2px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #528fc8;
}
.tox1 .t1 {
	font-size: 14px;
	color: #4d4d4d;
}
.tox1 .t2 {
	color: #000080;
}
.tox1 .t3 {
	font-size: 13px;
	font-weight: bold;
	color: #800000;
}
.tox1 .t4 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}


.tox {
	margin-top: 8px;
	margin-bottom: 8px;
}
.yjcolor1{ width:111px; height:35px; background: url(../images/jf_bg_01.jpg) no-repeat center left; color:#FFFFFF; font-weight:bold;}
.yjcolor2{ width:111px; height:35px; background: url(../images/jf_bg_02.jpg) no-repeat center left; color:#FFFFFF; font-weight:bold;}
.yjcolor3{ width:111px; height:35px; background: url(../images/jf_bg_03.jpg) no-repeat center left; color:#FFFFFF; font-weight:bold;}
.yjcolor4{ width:111px; height:35px; background: url(../images/jf_bg_04.jpg) no-repeat center left; color:#FFFFFF; font-weight:bold;}
/*.yjcolor5{ width:111px; height:35px; background: url(../images/jf_bg_05.jpg) no-repeat center left; color:#FFFFFF; font-weight:bold;}*/

.lmbg{ background:url(../images/jf_lm_01.jpg) repeat-x left top;}
.lmbg2{ background:#f7f7f7 url(../images/jf_lm_02.jpg) no-repeat left top;}
.button5{background: url(../images/jf_bg_06.jpg) no-repeat center center;height: 27px;width: 88px;border: none;font-family: "宋体";font-size: 12px;color: #fff;text-decoration: none;	line-height: 25px;font-weight:bold; }
