
.table_gray{
border:1px solid #4eadf7;
border-collapse:collapse;
}
.table_gray td{
border:1px solid #4eadf7;
border-collapse:collapse;
text-align: center;
}
.table_gray thead th{
	border:1px solid #3C81C4;
	border-bottom:0px;
	background:url(../images/table_title_bg.jpg);
	width:100%;
	margin-top:5px;
	cellpadding:0px;
	cellspacing:0px;
	white-space: nowrap;
	line-height:10px;
}
.table_gray thead td{
background-color:#7cc5fa;
font-size:14px;
font-weight:bold;
}

tr.odd {
	background: #FFF3BF;
}

tr.highlight {
	background: #C8F3FB;
}
.mainHeader{
	width:100%;
	height: 25px;
	background-color: #E7F2FD;
}
tr.selected {
	background: #FF8C05;
	color: #fff;
}
img.lnk {
    border: 0px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}