a.niulink:link,a.niulink:visited {
	font-size: 12px;
	line-height: 22px;
	color: #666666;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	text-decoration: none;
}
a.niulink:hover {
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	background-color: #EEEEEE;
	text-decoration: none;
}
a.niulink2:link,a.niulink2:visited,a.niulink2:hover {
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	height: 25px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	display: block;
	width: 100%;
	background-color: #FF9900;
	text-decoration: none;
}

body,td,th {
	font-size: 12px;
}
body {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.box {
	font-size: 12px;
	color: #000000;
	background-image: url(images/biao_di_05.gif);
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1D1D1;
	line-height: 25px;
}
.box2 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D1D1D1;
	border-bottom-color: #D1D1D1;
	border-left-color: #D1D1D1;
}
.box3 {	font-size: 12px;
	color: #000000;
	height: 25px;
	line-height: 25px;
	background-image: url(images/biao_di_05.gif);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D1D1D1;
	border-bottom-color: #D1D1D1;
	border-left-color: #D1D1D1;
	padding-left: 8px;
}
.STYLE2 {color: #FF0000}
.lin {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
}

.bb2 {
	height: 450px;
	width: 500px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.blak {	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #0033FF;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
.TanBox_1 {
	height:20px;
	line-height:20px;
	margin-top: 5px;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	background-image: url(../images/di1.jpg);
	color: #03588e;
}
.CTable{/*表格*/
	border-collapse:collapse;
	background:#ffffff;
	padding:0px;
	color: #000000;
	margin: 0px;
	border: 1px solid #7F9DB9; /*表格外框边框线颜色*/
	font-size: 13px;/*字体13号*/
}

.CTable textarea {
    line-height: 24px;
	border: 1px solid #43a9ea;
}

.CTable td{
	border:1px solid #fff; /*表格内框边框线颜色*/
	padding: 5px;
}
.CTable .c2{
	color:#000000;
	margin: 0px;
	padding:12px;
	background-color: #F2F2F2;/*表头背景色*/
	font-weight: bold;
	/*background: url(../images/  .jpg);表头背景图片*/
}
.CTable .c1{
	font-weight: bold;
	color:#000000;
	line-height: 15px;
	background-color: #CCCCCC;/*表头背景色*/
	background-image: url(../images/dis3.jpg);
	height: 20px;
	/*background: url(../images/  .jpg);表头背景图片*/
}
.CTable .c4{
	height: 25px;
	text-align: center;	/*background: url(../images/  .jpg);表头背景图片*/
}
.TBox_1{
border:1px solid #CBCBCB;
background-color:#FFFFFF;
padding:6px;
}
.Sel_L{background:url(../images/Sel_L.gif) no-repeat center;
width:30px;
height:30px;
cursor:hand;
border:0;
}
.Sel_R{background:url(../images/Sel_R.gif) no-repeat center;
width:30px;
height:30px;
cursor:hand;
border:0;
}
.SaveBtn {/*编辑按扭*/
	background: url(../images/SaveBtn.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px; cursor:hand;
}
.Exit {/*编辑按扭*/
	background: url(../images/Exit.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px; cursor:hand;
}
.F5 {/*编辑按扭*/
	background: url(../images/F5.jpg) no-repeat center; padding-left: 6px; height: 27px;width: 87px;border: none;font-family: "宋体";font-size: 13px;color: #0000;text-decoration: none;	line-height: 25px;	margin-bottom: 6px; margin-top: 6px; cursor:hand;
}
