/* CSS Document */
BODY,DIV,FORM,UL,OL,LI,DL,DT,DD,H1,H2,H3,H4,H5,H6,H7,label{padding:0; margin: 0px; border:0;font-size:12px;}
TABLE,TD,TR,TH {font-size:12px;}
p{text-indent:2em;margin:0;}
iframe,img { border:0;}
a {text-decoration:none;}
ul LI {list-style-type:none;}
input{cursor:hand; }

a{color:#0d417a;}/*默认样式-链接为灰色*/
a:visited{color:#0d417a;}/*默认样式-链接为灰色*/
a:hover{color:#0d417a;}/*默认样式-链接为蓝色*/

.but a{color:#0d417a;text-decoration:underline;color:#eb6100;}/*默认样式-链接为灰色*/
.but a:visited{color:#0d417a;text-decoration:underline;color:#eb6100;}/*默认样式-链接为灰色*/
.but a:hover{color:#0d417a;text-decoration:none;color:#00a0e9;}/*默认样式-链接为蓝色*/

/*=============共用样式==============*/
body{font-size:12px;color:#000000;word-break:break-all;background:#1062d7;}
body#home{background-color:#b6d5f4;}
body#home2 {background-color:#b6d5f4;}
body#home3 {background:url(../images/bj_01.gif) repeat-x;}
body#home4 {background:url(../images/bj_04.gif) repeat-x;}
body#home5 {background:#fff;}
body#home .top {height:32px;}
.login,.top,.header{width:100%;}

.sybj {width:100%;height:100%;background:#1062d7;}

.fb {font-weight:bold;}/*字体加粗*/

.title {padding-left:10px;color:#fff;font-size:13px;font-weight:bold;}/*通用标题样式*/

.fm {margin-top:5px;}/*通用顶边距*/


/*==============按钮样式===========*/
.an1 {width:62px;height:22px;float:left;margin-left:5px;text-align:center;color:#000;background:url(../images/service_content_07.gif) no-repeat;border:0;}
/**.an2 {width:76px;height:19px;margin-left:5px;text-align:center;color:#000;background:url(../images/service_content_08.gif) no-repeat;border:0;}*/
.an2 {height:23px;margin-left:5px;font-size:12px;padding:2px 6px 0 6px;background:#fff url(../images/service_content_08.gif) repeat-x;border:1px solid #d781b8;color:#000;}
.an3 {height:23px;margin-left:5px;font-size:12px;padding:2px 6px 0 6px;background:#fff url(../images/service_content_09.gif) repeat-x;border:1px solid #3c8fde;color:#000;}
.an4 {height:23px;margin-left:5px;font-size:12px;padding:2px 6px 0 6px;background:#fff url(../images/service_content_11.gif) repeat-x;border:1px solid #fa9150;color:#000;}
.an5 {height:23px;margin-left:5px;font-size:12px;padding:2px 6px 0 6px;background:#fff url(../images/service_content_12.gif) repeat-x;border:1px solid #b0b0b0;color:#000;}
.an6 {height:23px;width:76px;font-size:12px;padding:2px 0 0 10px;background:#fff url(../images/ancx.gif) repeat-x;border:none;color:#000;}

/*============字体颜色===========*/
.fc1 {color:#eb6100;}/*桔红*/
.fc2 {color:#00a0e9;}/*湖蓝*/
.fc3 {color:#7c8001;}/*黄灰*/
.fc4 {color:#ae0000;}/*绿色*/
.fc5 {color:#e60012;}/*深红*/
.fc6 {color:#effe00;}/*草绿*/
.fc7 {color:#2701cb;}/*深蓝*/
.fc8 {color:#cfcfcf;}/*灰色*/
.fc9 {color:#fc00ff;}/*玫瑰色*/
.fc10 {color:#003b6f;}/*深湖蓝*/




/*============字体颜色样式表2===========*/
.fcolor_01{color:#ffffff;}/*白色*/
.fcolor_02{color:#000000;}/*白色*/


/*============字体颜色===========*/
.ac1 a {color:#eb6100;}/*桔红*/
.ac2 a {color:#00a0e9;}/*湖蓝*/
.ac3 a {color:#7c8001;}/*黄灰*/
.ac4 a {color:#ae0000;}/*绿色*/
.ac5 a {color:#e60012;}/*深红*/
.ac6 a {color:#effe00;}/*草绿*/
.ac7 a {color:#2701cb;}/*深蓝*/
.ac8 a {color:#cfcfcf;}/*灰色*/
.ac9 a {color:#fc00ff;}/*玫瑰色*/

/*============定位样式===========*/
.input_01{background-color:#edf8ff;border:1px solid #1189e8;}

/*============定位样式===========*/
.right_m{margin-left:6px;}/*左右结构的右边空隙定位*/

/*============登录界面===========*/
.login {height:100%;background:#1158a7;max-height:none;min-height:none;}
.login input {width:146px;height:23px;padding-top:5px;background:url(../images/login_17.gif) repeat-x;border:0;}
.login .an1 {width:57px;height:34px;float:right;background:url(../images/login_19.gif) no-repeat;border:0;}
.login .an2 {width:57px;height:34px;background:url(../images/login_20.gif) no-repeat;border:0;}
.logo1 {position:absolute;z-index:90;left:100px;top:26px;}

.login_qp {float:left;position:absolute;z-index:90px;left:700px;top:28px;_top:28px;overflow: hidden}
.login_qp_logo {padding:10px;}
.login_qp_content {width:auto;float:left;}
.login_qp_content .gb {text-align:right;}
.login_qp_content dl {width:autopx;margin-top:2px;float:left;}

/*==============页头=============*/
.header {text-align:right;background:url(../images/header_02.gif) repeat-x top;}
.header .logo {height:39px;padding:0 5px;background:url(../images/header_04.gif) no-repeat top left;}
.header .logo2 {height:39px;padding:0 5px;background:url(../images/3header_04.gif) no-repeat top left;}
.header .logo3 {height:39px;padding:0 5px;background:url(../images/2header_04.gif) no-repeat top left;}
.mainNav {width:100%;clear:both;height:23px;}
.mainNav ul{float:right;margin-left:230px;height:25px;_height:39px;overflow:hidden;white-space:nowrap;}
.mainNav ul a {color:#FFF;}
.mainNav ul a:visited {color:#fff;text-decoration:none;}
.mainNav ul li{float:left;height:22px;line-height:22px;}
.mainNav ul li span.nav_01{background:url(../images/header_01.gif) no-repeat;}
.mainNav ul li span{ float:left;height:25px; line-height:25px;padding:0 14px;text-align:center;}
.mainNav ul li.on{z-index:9;height:31px;line-height:31px;background:url(../images/header_01f.gif) repeat-x;}
.mainNav ul li.on div {float:left;height:31px;line-height:31px;background:url(../images/header_01.gif) no-repeat left top;}
.mainNav ul li.on span{height:31px;line-height:31px;background:url(../images/header_01.gif) no-repeat right -31px;}
.mainNav ul li a:hover {color:#0d417a;text-decoration:none;}
.mainNav ul li.on span a{color:#015388;font-size:12px;font-weight:bold;}
.mainNav ul li.on span a:active {color:#015388;font-size:12px;font-weight:bold;text-decoration:none;}
.mainNav ul li.on span a:visited {color:#015388;font-size:12px;font-weight:bold;}

.mainbav_menu_e100 {float:left;margin-left:15px;}

.search_1 {width:99%;_width:100%;float:left;text-align:center;color:#FFF;clear:both;margin-top:0;_margin-top:26px;position:relative;border:1px solid #006ad2;border-top:0;border-bottom:0;background:url(../images/header_05.gif) repeat-x;}/*接续条样式一*/
.search_1 table {width:100%;margin:0px;}
.search_1 .bj {width:100%;float:left;margin-top:3px;padding-bottom:3px;background:url(../images/header_07.gif) repeat-x bottom;}
.search_1 .tab {width:62px;height:58px;float:left;background:url(../images/header_06.gif) no-repeat top;}

.submenu {width:99%;_width:100%;float:left;padding-top:1px;margin:0 5px;background:url(../images/header_05.gif) repeat-x bottom;border:1px solid #006ad2;border-top:0;border-bottom:0;}
.submenu .fy1 {float:left;margin:0 5px;}
.submenu .fy2 {float:right;margin:0 5px;}
.submenu .tab1 {width:102px;height:17px;float:left;padding:3px 5px;color:#FFF;font-weight:bold;margin-left:2px;background:url(../images/header_06.gif) no-repeat;}
.submenu .tab1 span {float:left;margin-top:3px;}
.submenu .tab1 img {float:right;}

.submenu .tab2 {width:102px;height:17px;float:left;padding:3px 5px;color:#000;margin-left:2px;background:url(../images/header_06f.gif) no-repeat;}
.submenu .tab2 span {float:left;margin-top:3px;}
.submenu .tab2 img {float:right;}

.search_2 {width:99%;_width:100%;float:left;height:6px;clear:both;margin-top:0;_margin-top:26px;position:relative;border:1px solid #006ad2;border-top:0;background:url(../images/header_05.gif) repeat-x;}/*接续条样式二*/

.text_right {text-align:right;padding-right:10px;}
.text_right a {color:#000000;}

/*=======左边菜单===========*/
.left_submenu {border:1px solid #00256b;margin-left:6px;margin-bottom:6px;}
.left_submenu_title {border:1px solid #a3d7fb;}
.left_submenu_search {border:1px solid #FFF;padding:0 3px;}
.left_submenu_content {padding:0;}
.left_submenu_tr {width:100%;}
.left_submenu_tr tr {cursor:hand;border-bottom:1px solid #b8b8b8;}
.left_submenu_tr td {float:left;}
.left_submenu_tr .div1 {width:105px;height:25px;float:left;padding:5px;background:#e87523;color:#fff;}
.left_submenu_tr .div2 {width:82px;height:25px;float:left;padding:5px;background:#e87523;color:#fff;}
.left_submenu_tr .div1f {width:105px;float:left;padding:5px;}
.left_submenu_tr .div2f {width:82px;float:left;padding:5px;}
.left_submenu_tr .dl {background:#e87523;color:#fff;padding:5px;}
.left_submenu_tr .db {background:url(../images/left_submenu_04.gif) no-repeat 5px bottom}

/*=========持行界面内容区===========*/
.service_content_nav {padding:1px 0 2px 5px;color:#000000;}
.service_content_nav span {font-weight:bold;}
.service_content {border:1px solid #006ad2;}
.service_content_tab1 {width:79px;height:21px;float:left;text-align:center;padding-top:5px;font-weight:bold;color:#024886;background:url(../images/service_content_04.gif) no-repeat}
.service_content_tab2 {width:79px;height:20px;text-align:center;float:left;}
.service_content_tab2 a {width:79px;height:20px;float:left;padding-top:5px;color:#3b3b3b;background:url(../images/service_content_05.gif) no-repeat}
.service_content_tab2 a:hover {width:79px;height:20px;float:left;padding-top:5px;color:#024886;background:url(../images/service_content_06.gif) no-repeat}

.service_content_lr2 {padding:1px;background:#fafcff;}
.service_content_lr2 .fba {}
.service_content_lr2 .fba td {padding:3px;}
.service_content_lr2 .fba input {width:125px;border-bottom:1px solid #006ad2;font-weight:normal;background:#fafcff;border-top:0px;border-left:0px;border-right:0px;}
.service_content_lr2 .fba .kd {width:50px;}
.service_content_lr2 span {color:#ff6c00}
.service_content_lr2_tab {margin-top:5px;text-align:right;}
.service_content_lr2_tab a {padding:3px 6px;color:#000;background:#c2d8ff;float:left;margin-right:5px;text-align:center;border:1px solid #6b86ba;}
.service_content_lr2_tab .tab1 {padding:2px 6px;height:16px;color:#FFF;background:#ff7e00;float:left;margin-right:5px;text-align:center;border:1px solid #8c1700;}

.service_content_lr {padding:5px;background:#fafcff;}
.service_content_lr .fba {}
.service_content_lr .fba td {padding:3px;}
.service_content_lr .fba input {width:125px;border-bottom:1px solid #006ad2;font-weight:normal;background:#fafcff;border-top:0px;border-left:0px;border-right:0px;}
.service_content_lr .fba .kd {width:50px;}
.service_content_lr span {color:#ff6c00}
.service_content_lr_tab {margin-top:5px;text-align:right;}
.service_content_lr_tab a {padding:3px 6px;color:#000;background:#c2d8ff;float:left;margin-right:5px;text-align:center;border:1px solid #6b86ba;}
.service_content_lr_tab .tab1 {padding:2px 6px;height:16px;color:#FFF;background:#ff7e00;float:left;margin-right:5px;text-align:center;border:1px solid #8c1700;}

.service_gxsz {padding:5px;background:#fafcff;}
.service_gxbt {color:#fff;font-weight:bold;padding-left:15px;}
.service_gxsz .in1 input {width:125px;border:1px solid #A2D6F9;font-weight:normal;background:#fafcff;}
.service_gxsz select {width:128px;border:1px solid #006ad2;font-weight:normal;background:#fafcff;}
.service_gxsz textarea {width:99%;}
.service_gxsz .bz {margin-top:5px;}

.service_content_lr_an {margin-top:3px;text-align:center;}

/*弹出界面*/
.widow {border:1px solid #a4d7fa;color:#FFF;font-weight:bold;background:url(../images/widow_01.gif) repeat-x;}
.widow_bj {padding:5px;line-height:150%;background:url(../images/widow_03.gif) repeat-x bottom;}
.widow_bt {padding:5px;border:1px solid #FFF;background:url(../images/widow_04.gif) repeat-x;}

/*首页*/
.index_main {width:1024px;margin:auto;}
.index_bj1 {width:630px;padding-bottom:10px;padding-top:10px;}
.index_bj1 .table1 {width:546px;}
.index_bj1 .table1 .table td {padding:5px 3px}
.index_bj2 {width:630px;padding-top:10px;}
.index_bj2 .table1 {width:546px;}
.index_bj2 .table1 .table {margin-top:5px;}
.index_bj2 .table1 .table td {padding:5px 3px}
.index_bj3 {width:388px;height:245px;background:url(../images/index_03.jpg) no-repeat bottom;}
.index_fc {color:#fff;background:#0061e6;font-weight:bold;}
.index_column {width:386px;height:25px;margin-top:8px;padding:3px 5px;background:url(../images/index_06.gif) no-repeat;}
.index_bj {margin-top:10px;}
.index_mb {height:417px;border-bottom:2px solid #006ad2;}
.index_ggao {margin:2px 10px;*margin-left:10px;_margin-left:5px;float:left;}
.index_ggao ul {float:left;margin-bottom:2px;}
.index_ggao li {margin-top:5px;float:left;padding:1px 0 2px 10px;background:url(../images/index_10.gif) no-repeat 0px 30%;}
.index_ggao li a {width:290px;_width:290px;*width:280px;float:left;color:#000000}
.index_an {width:378px;margin-top:10px;padding-right:10px;text-align:right;}

/*弹出窗口*/
.out {width:600px;position:relative;background:#dae8f5;}
.tcck {height:auto;background:#fff;border:1px solid #8ec6f2;position:relative;top:-2px;left:-2px;overflow:hidden}
.tcck dl {padding:10px;background:url(../images/tcck_01.gif) repeat-x bottom}
.tcck .title {color:#024886;padding:3px 0;font-size:13px;font-weight:bold;border-bottom:1px solid #8ec6f2;}
.tcck .img {text-align:right;}
.tcck .content_title {margin-top:10px;font-weight:bold;background:url(../images/tcck_02.gif) repeat-x bottom;}
.tcck .content_title span {padding:0 5px;background:#fff;margin-left:10px;}
.tcck .content {border:1px solid #8ec6f2;padding:5px;}
.tcck .mbtop {border-top:0;}
.tcck .content select,.bd {width:180px;}
.tcck .content .xs1 {width:117px;}
.tcck .anc {margin-top:10px;text-align:center;}

/*==========底部========*/
.bottom {color:#fff;}

/** xuewu.lin*/
.query_content{ border-right:1px solid #a7c4dd; border-bottom:1px solid #a7c4dd;}
.query_title{ background-color:#eff8ff; border-right:1px solid #a7c4dd; border-bottom:1px solid #a7c4dd;}
.content_content{ background-color:#ffffff; border-right:1px solid #1158A7; border-bottom:1px solid #1158A7; font-size:12px; text-align:center;}
.content_title{background-color:#D3ECFC; border-right:1px solid #1158A7; border-bottom:1px solid #1158A7; color:#003b6f; font-size:12px; font-weight:600; text-align:center;}
.content_table{background-color:#ffffff; border-top:1px solid #1158A7;border-left:1px solid #1158A7;}
.cus_ex_title{text-align: right;background-color:#eff9ff;width:10% }
.cus_ex_content{background-color:#FFFFFF; width:15% }
.text_width{ width:90% }

/** li.zhu **/
.input_style{border:1px solid #a2d6f9;background-color: white;}

