.Ctable{/*表格*/
	border-collapse:collapse;
	background:#ffffff;
	padding:0px;
	color: #000000;
	margin: 0px;
	border: 1px solid #43a9ea; /*表格外框边框线颜色*/
	font-size: 13px;/*字体13号*/
}

.Ctable textarea {
	line-height: 22px;
	border: 1px solid #BFBFBF;
	width: 90%;
	height: 50px;
}

.Ctable td{
	border:1px solid #61bdf8; /*表格内框边框线颜色*/
	padding: 5px;
}
.Ctable .c1{
	font-weight: bold;
	color:#000000;
	line-height: 15px;
	background-color: #CCCCCC;/*表头背景色*/
	background-image: url(../images/dis3.jpg);
	height: 20px;
	/*background: url(../images/  .jpg);表头背景图片*/
}
.Ctable .c4{
	height: 25px;
	text-align: center;	/*background: url(../images/  .jpg);表头背景图片*/
}
.c2{
	color:#000000;
	text-align: right;
	margin: 0px;
	padding: 0px;
	background-color: #f8f8f7;/*表头背景色*/
	font-weight: bold;
	/*background: url(../images/  .jpg);表头背景图片*/
}
.Ctable .c3{
	font-weight: bold;
	color:#03588e;
	line-height: 15px;/*表头背景色*/
	background-image: url(../images/di1.jpg);
	height: 20px;
	background-repeat: repeat-x;
	background-position: top;
	/*background: url(../images/  .jpg);表头背景图片*/
}
/*多级表格*/
.Ctable .c4{
	color:#03588e;
	line-height: 15px;/*表头背景色*/
	background-color:#edf3f9;
	height: 20px;
	text-align:left;
	/*background: url(../images/  .jpg);表头背景图片*/
}
.Ctable .c4_ico{ background:url(../images/-.gif) no-repeat left;
	padding-left:20px;
	color:#03588e;
	line-height: 20px;/*表头背景色*/
	background-color:#edf3f9;
	height: 20px;
	text-align:left;
	cursor:hand;
}
.Ctable .c4_addico{ background:url(../images/+.gif) no-repeat left;
	padding-left:20px;
	color:#03588e;
	line-height: 20px;/*表头背景色*/
	background-color:#edf3f9;
	height: 20px;
	text-align:left;
	cursor:hand;
}
.Title{
font-size:14px;
font-weight:bold;
text-align:center;
height:26px;
line-height:26px;
letter-spacing:2px;
}
.Ctable .tablecells{
	padding:4px;}
.Ctable .tablecellsb{
	padding:4px;
	text-align: left;
	margin-left: 14px;
}
.box {
	text-align: center;
	line-height: 40px;
	display: block;
}
.box2 {
	text-align: center;
	display: block;
	margin-bottom: 10px;
	margin-top: 6px;
	padding-right: 3px;
}
.box3 {
	text-align: right;
	display: block;
	margin-bottom: 10px;
	margin-top: 6px;
}
.taobox {
	height:20px;
	line-height:20px;
	margin-top: 5px;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	background-image: url(../images/di1.jpg);
	color: #03588e;
	background-repeat: repeat-x;
	background-position: top;
}
#niu {
	width: 18px;
	float: right;
	margin-top: -18px;
}
#zk {
	line-height: 19px;
	background-color: #FFF2C1;
	border: 1px solid #CC9933;
	position: relative;
	width: 80px;
	top: -12px;
	font-size: 12px;
	padding: 3px;
}
#ss {
	line-height: 19px;
	background-color: #FFF2C1;
	border: 1px solid #CC9933;
	position: relative;
	width: 80px;
	top: -12px;
	font-size: 12px;
	padding: 3px;
}
.bq {
	width: 35px;
}
.Ttable{/*表格*/
	border-collapse:collapse;
	color: #000000; /*表格外框边框线颜色*/
	font-size: 12px;
	background-color: #F4F4EC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.Ttable td{
	padding: 5px;
}
.Ttable .B1{
	font-weight: bold;
	color:#003366;
	line-height: 15px;
	height: 20px;
	text-align: right;	/*background: url(../images/  .jpg);表头背景图片*/
	width: 40%;
}.Ttable .B2{
	height: 33px;
	text-align: right;	/*background: url(../images/  .jpg);表头背景图片*/
	background-color: #DFDFDF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9DB9CF;
}.Ttable .B3{
	height: 1px;
	text-align: center;	/*background: url(../images/  .jpg);表头背景图片*/
	background-color: #C4E1FF;
}
