.ditch-tab-skin-default .ditchnet-tab-container {
	margin: 10px;
}

.ditch-tab-skin-default .ditch-tab-wrap {
	z-index: 10;
	font: 12px "Lucida Grande", LucidaGrande, Verdana, sans-serif;
}

.ditch-tab-skin-default .ditch-tab {
	position: relative;
	float: left;
	padding: 2px 20px;
	margin: 0 1px -1px 0;
	text-align: center;
	cursor: pointer;
	font: 12px "Lucida Grande", LucidaGrande, Verdana, sans-serif;
}

.ditch-tab-skin-default .ditch-tab-bg-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 18px;
}

.ditch-tab-skin-default .ditch-unfocused {
	color: #999;
	border-bottom: 1px solid silver;
	background: transparent url(../../../include/default_tab_bg_right.gif)
		100% 0 no-repeat;
}

.ditch-tab-skin-default .ditch-focused {
	border-bottom: 1px solid white;
	background: transparent
		url(../../../include/default_tab_bg_white_right.gif) 100% 0 no-repeat;
}

.ditch-tab-skin-default .ditch-focused .ditch-tab-bg-left {
	background: transparent
		url(../../../include/default_tab_bg_white_left.gif) 0 0 no-repeat;
}

.ditch-tab-skin-default .ditch-unfocused .ditch-tab-bg-left {
	background: transparent
		url(../../../include/default_tab_bg_left.gif) 0 0 no-repeat;
}

.ditch-tab-skin-default .ditch-tab a:link,.ditch-tab-skin-default .ditch-tab a:visited
	{
	color: black;
	text-decoration: none;
}

.ditch-tab-skin-default .ditch-tab-wrap .ditch-unfocused a:link,.ditch-tab-skin-default .ditch-tab-wrap .ditch-unfocused a:visited
	{
	color: silver;
}
