@charset "utf-8";
/* CSS Document */

/* 通用 */  
body,*{ margin:0px; padding:0px; font-family:"宋体"}
img{ border:none; }





.mar1{ margin-top:6px;}
.mar3{ margin-top:6px;margin-left:6px;margin-right:6px;}
.mar4{ margin:0px auto;}
.mar5{ margin:6px 6px;}
.padd4{ padding-bottom:6px;}
.padd6{ padding:4px 4px;}
.padd7 td{ padding:2px 2px;}

.fc1{color:#fff;}
.fc5{ color:#ff0000;}/*红*/
.fc11{color:#0b61c1;}
.fc12{color:#800000;}
.fc13{color:#000000;}

.fs4{ font-weight:bold;}
.fs5{font-size:14px;}
.fs7{font-size:12px;}

.tox18{border: 1px solid #528fc8;}
.tox2{padding: 5px;	border: 1px solid #528fc8;}
.tox20{padding: 5px;	border: 1px solid #fae2b9;}
.tox21 td{padding-left:2px;padding-right:2px;}
.tox22 td{height:26px; }
.tox23{border: 1px solid #bdd2ed;}
.tox24 td{border-bottom: 1px solid #528fc8; }
.tox25{border: 1px solid #ffae40;}
.tox26 td{height:18px; }
.tox27 td{padding-top:4px;padding-bottom:4px;}
.tox28{border-collapse:collapse;}
.tox28 td{border: 1px solid #fdce8e; padding:2px 2px;}
.tox29{border: 1px solid #fdce8e;}
.tox30{border-collapse:collapse;}
.tox30 td{border: 1px solid #bdd2ed; padding-left:2px; padding-right:2px;}
.tox31 td{height:23px;}



.bgcolor1{ background-color:#F3F8FC;}/*淡蓝*/
.bgcolor2{ background-color:#FFFFEF;}/*稍深一点的淡黄*/
.bgcolor3{ background-color:#f0974f;}/*桔红*/
.bgcolor9{ background-color:#ffffe3;}
.bgcolor10{ background-color:#f3f8fc;}
.bgcolor11{ background-color:#fffeed;}
.bgcolor12{ background-color:#fd6824;}

.bg_jianbian{ background:#f7fcfe url(../images/index_03.gif) repeat-x left top;}
.bg_xian{ border-bottom:1px solid #dcdddd;}
.bg_xian2{ border-right:1px solid #bdd2ed;}
.bg_xian3{ border-right:1px solid #fff;}

.btbg_01{ background:url(../images/index_05.gif) repeat-x left top; }
.btbg_02{ background:url(../images/index_09.gif) repeat-x left top; }



.more a{font-size:12px;color:#000; text-decoration:none;}
.more a:hover{text-decoration: underline;color:#fd8b25;}


.a_1 a{ color:#000000;text-decoration:none;font-size:12px;}
.a_1 a:hover{text-decoration: underline;color:#fd8b25;}


.sjjk_p1{ text-indent:2.1em; line-height:1.5em; text-justify:inter-ideograph;}
.sjjk_p3{ line-height:1.5em; text-justify:inter-ideograph;}

.input1{ font-size:12px; font-family:"宋体"; width:150px; border:1px solid #7F9DB9;}
.input2{font-size:12px; font-family:"宋体";width:30px;   border:1px solid #7F9DB9;}

.select1{font-size:12px; font-family:"宋体"; width:50px; border:1px solid #7F9DB9;}


.nextpage {
	 padding:2px 0px;  color:#2969a9;text-align:right;  
}
.nextpage A {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #dddddd 1px solid; COLOR: #036cb4; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid; TEXT-DECORATION: none;cursor: pointer;
}
.nextpage A:hover {
	BORDER-RIGHT: #ff5a00 1px solid; BORDER-TOP: #ff5a00 1px solid; BORDER-LEFT: #ff5a00 1px solid; COLOR: #666; BORDER-BOTTOM: #ff5a00 1px solid
}
.nextpage A:active {
	BORDER-RIGHT: #ff5a00 1px solid; BORDER-TOP: #ff5a00 1px solid; BORDER-LEFT: #ff5a00 1px solid; COLOR: #666; BORDER-BOTTOM: #ff5a00 1px solid
}
.nextpage .current {
	BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4
}
.nextpage .disabled {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #dddddd 1px solid; COLOR: #a0a0a0; PADDING-TOP: 2px; BORDER-BOTTOM: #dddddd 1px solid
}





.top_img{ background:url(../images/top_01.gif) no-repeat left top;}
.top_help,.top_help a{font-size:12px;color:#FFFFFF; text-decoration:none;}
.top_help a:hover{text-decoration: underline;}
.button_01{width:130px; height:22px;background:url(../images/index_01.gif) no-repeat center center;border: none; font-size:14px; font-weight:bold; color:#FFFFFF;}
.button_02{width:130px; height:22px;background:url(../images/index_02.gif) no-repeat center center;border: none; font-size:14px; font-weight:bold; color:#7b7b7b;}
.button_03{width:47px; height:45px;background:url(../images/index_07.gif) no-repeat center center;border: none; font-size:12px;}
.button_04{width:47px; height:45px;background:url(../images/index_08.gif) no-repeat center center;border: none; font-size:12px;}
.button_05{width:57px; height:20px;background:url(../images/index_11.gif) no-repeat center center;border: none; font-size:12px;color:#FFFFFF;}


.top_img_ryxx{background:url(../images/ryxx_01.gif) no-repeat left top;}
.fieldset_1{width:98%; margin:0 auto;}
.huodongfb{ width:100%;height:175px;overflow-y:auto; overflow-x:visible; margin-bottom:6px;}