@charset "utf-8";
/* CSS Document */
@import url("menu.css");
@import  url("index.css");
@import  url("sheet.css");
@import  url("menu_left.css");


fieldset, fieldset.collapsible {
	padding: 5px;
	border: 1px solid #CCCCCC;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	margin: 0;
}
fieldset.collapsed {
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	margin:0;
}

legend.collapsible {
	color: #1D70DD;
}
legend.collapsed {
	color:green;
}
.mcontent{ margin:0 8px;overflow: hidden;height: 100%;}