@charset "utf-8";
/* CSS Document */
.tableOutline{ overflow-x:auto;width:100%; height:100%; overflow-y:hidden; }
.sheet{  margin:auto; padding-top:10px; width:100%}
.sheet2{  margin:auto; padding-top:10px; width:630px;}
.toptitle{  color:#333; font-size:16px; font-weight:bold; vertical-align:middle;}
.sheettitle{ font-weight:bold; margin:15px 0 10px 0; border:1px solid #bad0ee; line-height:23px; padding:0 10px; color:#2360ad; background-color:#ecf0f4;}
.sheettitle .shrink{ float:right; margin-top:3px;}

.input1{ border:none; border-bottom:1px solid #CCC; width:120px; color:#333; background:none}
.input0{height:14px;padding:3px 0 2px 3px;font-size:12px;border: #a7a6aa 1px solid;	line-height:14px;background: #fff url(../images/input-bg.png) no-repeat 0px 0px;}
.w50{ width:50px;}
.w60{ width:60px;}
.w70{ width:70px;}
.w90{ width:90px;}
.w120{ width:120px;}
.w180{ width:180px;}
.w200{ width:200px;}
.w205{ width:205px;}
.w500{ width:500px;}
.w_70{ width: 70%;}

.t0{ margin-top:0}
.table1 {border-collapse:collapse;border-top: 1px solid #D2D0D1;border-left: 1px solid #D2D0D1;margin-bottom:10px;}

.table1 th {
	line-height: 18px;
	font-weight:bold;
	color:#333333;
	background: #f4f4f4;
	padding:4px 5px 4px 5px;
	border-bottom: 1px solid #D2D0D1;
	border-right: 1px solid #D2D0D1;
	text-align:right;	
}
.table1 td {
	line-height: 18px;
	padding:4px 5px 4px 5px;
	border-bottom: 1px solid #D2D0D1;
	border-right: 1px solid #D2D0D1;
	text-align: center;
	color:#666;
	text-align:left;	
}
.thcenter th,.thcenter td{ text-align:center;}
.thcenter td select{ margin-right:5px;}

.td_left{text-align:left; padding-left:20px;}
.td_right{text-align:right; }
.td_center{text-align:center; }

.table_scroll{width:100%;height:230px; overflow-x:hidden;overflow-y:scroll;border-bottom:1px solid #cbc8c8}

.table1 td.lt{ background:#f4f4f4; text-align:left; padding-left:10px;}


.ptable th{ font-weight:normal}

.table2 {margin-top: 6px;}
.table2 th {text-align: right;padding: 3px 3px;}
.table2 td {padding: 3px 3px;height:18px;}
.table2 img{ cursor:pointer;}

.table3 {border-top: 1px solid #cbc8c8;border-left: 1px solid #cbc8c8;font-size: 12px;border-collapse:collapse;}
.table3 th {line-height: 18px;font-weight: bold;padding:6px 4px;border-bottom: 1px solid #CBC8C8;border-right: 1px solid #CBC8C8;background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top;}
.table3 td {line-height: 18px;padding:4px;border-bottom: 1px solid #CBC8C8;border-right: 1px solid #CBC8C8;text-align: center;}

.table3 a{ padding :0 3px; }

.table4{margin: 0 auto;}
.table4 th,.table5 th{color:#333333;text-align:right; padding: 2px;}
.table4 td{padding: 2px;word-wrap: break-word;word-break:break-all;text-align: left}
table img{cursor:pointer;}
.table4 input,.table4 img,.table2 input,.table2 img{vertical-align:middle}


.table5 th{line-height:26px;line-height:28px; }

.table6 td{ border:0}

.tr_gray {background-color: #f2f1f1;}
.tr_white{background-color:#FFF;}
.tr_highlight{background-color:#DAEFFA}
.tr_selected{background-color:#DAEFFA}
.table_th2 th{padding:2px 2px;}


.rtable {
	border-collapse:collapse;
	border-top: 1px solid #D2D0D1;
	border-left: 1px solid #D2D0D1;
	margin-bottom:10px;
}

.rtable th {
	line-height: 18px;
	font-weight: bold;
	padding:7px 4px;
	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
	background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top;
	color:#666666;
	text-align:center;	
}
.rtable td {
	line-height: 18px;
	padding:4px 5px 4px 5px;
	border-bottom: 1px solid #D2D0D1;
	border-right: 1px solid #D2D0D1;
	text-align: center;
	color:#666666;
	text-align:right;	
}

.rtable .td_left{
	text-align:left; padding-left:10px;
}
.rtable .td_right{
	text-align:right; 
}
.rtable .td_center{
	text-align:center; 
}

.rtable td.lt{ background:#F2F1F1; text-align:left; padding-left:10px;}
.rtable td.rt{ background:#F2F1F1; text-align:right; font-weight:bold}
.rtable td.ct{ background:#F2F1F1; text-align:center; padding-left:10px; font-weight:bold;}
.rtable td.amount{ background:#f4f4f4; text-align:right; font-weight:bold}


.stable {
	border-collapse:collapse;
	border-top: 1px solid #D2D0D1;
	border-left: 1px solid #D2D0D1;
	margin-bottom:10px;
}

.stable th {
	line-height: 18px;
	font-weight: bold;
	padding:4px 4px;
	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
	background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top;
	color:#666666;
	text-align:center;
	white-space:nowrap;	
}
.stable td {
	line-height: 18px;
	padding:3px 5px;
	border-bottom: 1px solid #D2D0D1;
	border-right: 1px solid #D2D0D1;
	text-align: center;
	color:#666666;
	text-align:left;
	white-space:nowrap;
}

.stable .td_left{
	text-align:left; padding-left:10px;
}
.stable .td_right{
	text-align:right; 
}
.stable .td_center{
	text-align:center; 
}
.stable a{ padding:0 3px} 

.red{ color:#F00; margin-left:2px;}
.redbold{ color:#F00; font-weight:bold}
.setitle{ font-weight:bold; color:#333; padding:0 0px 5px 10px; height:100%; overflow:hidden;}
.setitle .fright{ float:right; font-weight:normal;}
.setitle .fright img{cursor:pointer;}
.total{color:#2360ad; font-size:12px; font-weight:bold; text-align:right; margin-top:20px;}

.btnarea{ text-align:center; padding:10px 0; padding-top:20px;}
.btnarea a{ margin:0 10px;}

a.bt_1,a.bt_2{ margin:0 3px; cursor:hand;}
a.bt_1,a.bt_1 span,a.bt_1:hover,a.bt_1:hover span,a.bt_2,a.bt_2 span,a.bt_2:hover,a.bt_2:hover span{ background:url(../images/bt_1.gif) no-repeat top left; padding-left:12px; height:21px; display:inline-block; text-indent:0; line-height:21px; color:#FFF;}
a.bt_2,a.bt_2 span,a.bt_2:hover,a.bt_2:hover span{ background:url(../images/bt_2.gif) no-repeat top left; color:#000;}

a.bt_1 span,a.bt_2 span,a.handle_bt span{background-position:top right; padding:0; padding-right:9px;}
a.bt_1:hover,a.bt_2:hover,a.handle_bt:hover{background-position:bottom left; text-decoration:none; color:#000000;}
a.bt_1:hover span,a.bt_2:hover span,a.handle_bt:hover span{background-position:bottom right; padding:0; padding-right:9px;}



a.bt_3,a.bt_4{ margin:0 3px; cursor:hand;}
a.bt_3,a.bt_3 span,a.bt_3:hover,a.bt_3:hover span,a.bt_4,a.bt_4 span,a.bt_4:hover,a.bt_4:hover span{ background:url(../images/bt_3.jpg) no-repeat top left; padding-left:18px; height:28px; display:inline-block; text-indent:0; line-height:28px; color:#FFF;}
a.bt_4,a.bt_4 span,a.bt_4:hover,a.bt_4:hover span{ background:url(../images/bt_4.jpg) no-repeat top left; color:#000;}

a.bt_3 span,a.bt_4 span,a.handle_bt span{background-position:top right; padding:0; padding-right:15px;}
a.bt_3:hover,a.bt_4:hover,a.handle_bt:hover{background-position:bottom left; text-decoration:none; color:#000000;}
a.bt_3:hover span,a.bt_4:hover span,a.handle_bt:hover span{background-position:bottom right; padding:0; padding-right:15px;}



a.bt_small{ margin:1px; cursor:pointer;}
a.bt_small,a.bt_small span,a.bt_small:hover,a.bt_small:hover span{ background:url(../images/bt_small.gif) no-repeat top left; padding-left:14px; height:21px; display:inline-block; line-height:21px; color:#333333;}

a.bt_small span{background-position:top right; padding:0; padding-right:12px;}
a.bt_small:hover{background-position:bottom left; text-decoration:none; color:#000000;}
a.bt_small:hover span{background-position:bottom right; padding:0; padding-right:12px;}

.fleft { float:left;}
.fright { float:right;}

<!--当前位置-->

.titlebox .location{ 	
	font-size:12px; 
	font-weight:normal; 
	color:#666; 	
}
.location a:link { color:#0066CC}
.location a:visited {color:#0066CC}	
.location a:hover {color:#0066CC; text-decoration:underline;}	
.location a:active {color:#0066CC}	

.titlebox{
	line-height:24px;
	overflow:hidden;
	border-bottom:2px solid #ccc;
	margin-bottom:6px;
	padding-left:20px;
	background:url(../images/ico_location.gif) no-repeat  left center; 
}

<!--搜索框-->
#searchblock{ clear:both;}
#searchblock .search_top {
	height: 6px;
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#searchblock .search_top .right_top {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	width: 8px;
	height: 6px;
}
#searchblock .search_top .left_top {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 10px;
	height: 6px;
}
#searchblock .search_box {
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left -10px;
	line-height:24px;
}
#searchblock .search_box .right_box {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right -10px;
	width: 8px;
}
#searchblock .search_box .left_box {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left -10px;
	width: 10px;
}
#searchblock .search_box .table2 {
	margin: 0px;
}


#searchblock .search_bottom {
	height: 10px;
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom:6px;margin-top:-4px;
}

#searchblock .search_bottom .right_bottom {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	width: 8px;
	height: 10px;
}
#searchblock .search_bottom .left_bottom {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	width: 10px;
	height: 10px;
}

.title_box{ background:url(../images/title_bg.gif) repeat-x; height:28px; border:1px #c8c2c2 solid; margin-bottom:6px; overflow:hidden; line-height:28px;text-align: left;}
.title_box strong{ font-size:12px; margin-left:10px;}
.title_box .rightbtn{float: right;margin-right: 2px;}
.title_box .rightbtn a{line-height:28px;margin-top: 3px;}
.title_had{ float:right; margin-top:2px; }
.add_infor{ margin-right:3px;background:url(../images/btn_add.gif) no-repeat; width:60px; height:24px;line-height:24px; text-indent:15px;border:none; font-size:12px; color:#1345b8; cursor:pointer;}

.form_box{  
  height:auto;
  line-height:26px;
  color:#333333;
  padding:0 10px;
}

.form{  
  height:auto;
  line-height:26px;
  color:#333333;
  padding:20px 0;
}

.table4 input,.table2 input  {
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; 
	height: 20px; *height: 20px;	
	padding:0 0 0 3px;
	font-size:12px;
	border: #a7a6aa 1px solid;
	line-height:20px;
	*line-height:20px;
	background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
}





input.Wdate{background:#fff url(../images/datePicker.gif) no-repeat right top;}
input.noborder{ padding:0; border:none; background:none; margin:0;}


.input1,.input2,.input3,.input4,.input7,.Wdate,.textarea,.input5,.input6{width:120px;height:14px;padding:3px 0 2px 3px;font-size:12px;border: #a7a6aa 1px solid;line-height:14px;background: #fff url(../images/input-bg.png) repeat-x 0px 0px;}
.select1,.select2,.select3,.select4{ width:120px; border:1px solid #ccc;}
.form_li .input1{width:120px;margin:0px;}
.form_li2 .input1{width:350px;margin:0px;}
.input2 {width: 95px;}
.input3 {width: 40px;}
.input4 {width: 26px; text-align:center;}
.input5 {width: 98%;}
.input6 {width: 350px;}
.Wdate {background: url(../images/date_bg.jpg)  no-repeat 0px 0px;}
.select1 {width: 127px;}
.select2 {width: 70px;}
.select3 {width: 50px;}
.form_li2 .select1 {width: 358px;}
.textarea{height: 40px;width: 580px;}
.textarea2{height:40px;width:99%}
.textarea3{height:107px;width:99%}
.file{width:357px;}

textarea ,.tarea
{
  width:100%;
  height:55px;
  word-break: break-all; 
  word-wrap:break-word;
  overflow-y:scroll;
  overflow-x:hidden;
  border:1px solid #a7a6aa;
  padding:3px 0 2px 3px;
  background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
}
.tarea
{
  width:618px;
  height:71px;
  margin-top:3px;
  margin-bottom:3px;
}

#person_info_title
{
  width:100%;
  height:23px; 
  line-height:23px;
  border-bottom:1px solid #cccccc;
  font-size:12px;
  font-weight:bold;
  color:#333333;  
  padding-top:2px;
}

/* pages */
.pages {
	text-align: right;
	margin-top: 5px;
	height: 28px;
	line-height:28px;
	
}
.pages .current {
	color: #0066CC;
}
.pages .Total {
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
	color: #000000;
}


.pages .page_input {
	height: 12px;
	width: 20px;
	border: 1px solid #CCCCCC;
	padding-right: 4px;
	padding-left: 4px;
	margin-right: 3px;
}
.pages a:link,.pages a:visited,.pages a:hover {
	background-color: #FFFFFF;
	padding:2px 5px 1px 5px;
	color: #1F1F1F; line-height:14px;
}
.pages a:hover{
	color:#0066FF;
	background-color: #BFDBFF;
}
.pages .current_page a:link,.pages .current_page a:visited,.pages .current_page a:hover {
	color: #FFFFFF;
	background-color: #3080E3;
}
.current_page a:hover {
	color: #99CCFF;
}
.pages .go_button {
	background: url(../images/go.jpg) no-repeat left top;
	height: 16px;
	width: 18px;
	border-style: none;
	margin:2px 6px 0px 0px;
	cursor:pointer;
}
.pages .next a{
	border:1px solid #ccc;margin-left: 5px;
}
.pages .next a:link,.pages .next a:visited {
	color: #313131;
}
.pages .next a:hover {
	color: #fff;background-color:#3080E3;
}
.pages img{cursor:pointer;}

.Tcontent{ display:none;}

.tabbox{ height:26px; border-bottom:1px #929292 solid; position:relative; margin-bottom:10px; text-align:left; padding:0}
.tab{ margin:0; padding:0;position:absolute;top:1px; margin-left:2px; }
.tab li{ margin:0;  padding:0;float:left; margin:0 1px; list-style:none;}
.tab li a{ background:url(../images/per_tabs_bg.gif) no-repeat; height:26px; padding-left:25px;float:left;}
.tab li a span{ background:url(../images/per_tabs_bg.gif) no-repeat; float:left; height:26px;text-align:center; line-height:26px;padding-right:25px; cursor:pointer; }
.tab li a{ background-position:0 top;}
.tab li a span{ background-position:right top;}
.tab li a.current{ background-position:0 -52px;}
.tab li a.current span{ background-position:right -52px; }

.tab li a,.tab li a:link,.tab li a:visited{ color:#000;}
.tab li a.current,.tab li a.current:link,.tab li a.current:visited{color:#2073DD; font-weight:bold;}

#main0,#main1{ text-align:center;}
#main0 ul,#main1 ul{display:none;margin:0; padding:0; overflow:hidden;}
#main0 ul.block,#main1 ul.block{display: block; margin:0 auto; overflow:hidden; clear:both;margin:0; padding:0;}

#order_detail{  margin-top:10px;}
.result2 {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #CCCCCC;
	padding: 4px 0px 4px 16px;
	background: url(../images/link_%20arrow.jpg)  no-repeat left 8px;
}
.cbtn input{ width:40px; margin:5px;}
.cbtn select{ width:200px;}

.dialogsubnmit{ text-align:center; padding:20px 0;}
.dialog_div{margin:0 auto; padding:0; padding-top:10px; }

.checkget{text-align:left; padding:0 0 5px 10px}
.checkget input,.checkget label{ vertical-align:middle}

.chart{ border:1px solid #D6D6D6; background:#F7F7F7; padding:5px;}

.month{ color:#666; font-size:12px; font-weight:bold; text-align:left; margin-top:10px;}

.remarks{ color:#666; padding:0 0px 5px 0; height:100%;}
.remarks .rfont{color:#004080}

.blue{ color:#0000FF}
.hind{ padding-left:36px}
.mt{ margin-top:20px}

.mcontent{ margin:0 8px;overflow: hidden;height: 100%;}



.aToolTip {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:6px 12px;
}

.aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
}

a.aToolTipCloseBtn {
	display:block;
	height:18px;
	width:18px;
	background:url(../images/closeBtn.png) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-15px;
	margin:2px;
	padding:4px;
}

#changeColor{}

.thin{border-collapse: collapse;border-top: 1px solid #80C2E2;border-left: 1px solid #80C2E2;}
.thin  th,.thin td{border-right: 1px solid #80C2E2;border-bottom: 1px solid #80C2E2;}

.select_table{}
.select_table td{}
.select_table th{padding: 5px; font-weight:bold;}
.select_table input{width: 60px;margin: 10px 0}
.treesearch{ padding:5px;border-bottom: 1px solid #ccc;}
.treetop{margin:0 10px 0 5px;background-color:#0080FF; color:#FFF; height:25px; line-height:25px; font-weight:bold; padding-left:5px;}
.treeleft{overflow: auto; height:344px; margin:0 10px 0 5px; border:1px solid #ccc; background-color:#EAEFF3;}

.nodata{ text-align: center;padding-top:10px;}

/*固定列表格样式*/
.tableContainer
  {padding: 0px;border: none;width:100%; height: 257px;overflow: hidden; border-bottom:1px solid #ccc; }
.sBase{position:relative;width:100%;height:100%;overflow:hidden;background-color:#ffffff;}
.sHeader{position:absolute;z-index:3;background-color:#ffffff;}
.sHeaderInner{position:relative;}
.sHeaderInner table{border-spacing:0px 0px !important;border-collapse:collapse !important;width:1px !important;table-layout:fixed !important;background-color:#ffffff; }
.sFHeader{position:absolute;z-index:4;overflow:hidden;}
.sFHeader table{border-spacing:0px 0px !important;border-collapse:collapse !important;width:1px !important;table-layout:fixed !important;background-color:#ffffff;}
.sData{position:absolute;z-index:3;overflow:auto;background-color:#ffffff;}
.sData table{border-spacing:0px 0px !important;border-collapse:collapse !important;width:1px !important;table-layout:fixed !important;}
.sFData{position:absolute;z-index:1;background-color:#e9e9e9;}
.sFDataInner{position:relative;}
.sFData table{border-spacing:0px 0px !important;border-collapse:collapse !important;width:1px !important;table-layout:fixed !important;}
.sDefault{margin:0px;padding:0px;border:1px solid #ccc;font-family:Verdana, Arial, sans serif;font-size:0.8em;margin-top: -23px; margin-left: -99px;}
.sDefault th, .sDefault td{border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;padding:2px 3px;white-space:nowrap; }
.sDefault th{ font-weight:bold;	border-bottom: 1px solid #CBC8C8;padding:3px 3px;background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top}
.sDefault-Fixed{background-color:#fff;border-color:#c5c5c5;}
.sDefault-Main{}
.sDataTable{border:1px solid #336699;}