# -----------------------------------------------------------------------------
# build.properties file
#
# This file is referenced by the build.xml file and can override the default 
# properties values
# -----------------------------------------------------------------------------

# compile with debug on or off
debug=on

# svnant version
#svnant.version = 1.1.0

# -----------------------------------------------------------------------------
# locations of directories
# -----------------------------------------------------------------------------
#src.main.dir = src/main
#src.testcases.dir = src/testcases
#src.doc.dir = src/doc
#build.dir = build
#build.distrib.dir = ${build.dir}/distrib
#build.classes.dir = ${build.dir}/classes
#build.lib.dir = ${build.dir}/lib
#build.cache.dir = build/depcache
#distribfiles.dir = distribfiles

# -----------------------------------------------------------------------------
# Required libraries
# -----------------------------------------------------------------------------
#lib.dir=lib
#svnClientAdapter.jar = ${lib.dir}/svnClientAdapter.jar
#svnjavahl.jar=${lib.dir}/svnjavahl.jar
#svnkit.jar=${lib.dir}/svnkit.jar
#ganymed.jar=${lib.dir}/ganymed.jar
#ant.jar = ${lib.dir}/ant.jar
#ant-launcher.jar = ${lib.dir}/ant-launcher.jar
#junit.jar = ${lib.dir}/junit.jar
