a,a:link,a:visited{font:Arial, Helvetica, sans-serif; font-size:12px; color:#003366; text-decoration:none; cursor:hand};
.hrefa {
	font-family: "ו", "Times New Roman", Times, serif;
	text-decoration: none;
	color: #003366;
}
.hrefa:hover {
	font-family: "ו","Times New Roman", Times, serif;
	color: #003366;
	text-decoration: underline;
}
.detailtitle{
  	FONT-SIZE: 	12px;
}
.actionTitle{
	height: 26px;
	padding-left: 4px;
	padding-right: 4px;
	
}
.detailcontent{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
}