$filecomment
 
 $package
 
 $import
 
 $classcommoent
 
#foreach($filed in $fileds)	
	private $filed.type $filed.fieldName;	
#end

#foreach($filed in $fileds)	
	public void set$filed.mfieldName($filed.type $filed.fieldName)
	{
		this.$filed.fieldName = $filed.fileName;
	}
	
	public $filed.type get$filed.mfieldName()
	{
		return $filed.fieldName;
	}
#end