body {
	font:12px/18px  Arial, Helvetica, sans-serif;padding:0px;margin:0px;
}

td,th {
	font:12px/18px "", Arial, Helvetica, sans-serif;
}
.top {
	padding: 3px;
	background-image: url(../images/top_right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height: 28px;
	text-align: right;
}

a:link {
	color: #0066CC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0066CC;
}
a:hover {
	text-decoration: none;
	color: #FC0204;
}
a:active {
	text-decoration: none;
}
img{ border:none;}
.top .logo_top {
	float: left;
	width: 340px;
}
.top .log_message {
	line-height: 20px;
	padding-top: 8px;
	padding-right: 5px;
}

 .menu {
	background: url(../images/menu_bg.jpg) repeat-x left top;
	height: 29px;
}
 .menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
 .menu li {
	display: list-item;
	float: left;padding:0px 21px;
	line-height: 29px;
	background: url(../images/menu_line.jpg) no-repeat right top;
}
 .menu .left_link {
	background-image: none;
}

 .menu .select{
	font-weight: bold;
	color: #fff;
	background: url(../images/select_menu.jpg) repeat-x left top;
}
.menu .select a:link,.menu .select a:visited {
	color: #FFFFFF;
}
.menu a:link,.menu a:visited {
	color: #1f1f1f;	
}
.menu ul li a:hover{ color:#2C7BE2;
font-weight:bold;}


.table1 {
	border-top: 1px solid #cbc8c8;
	border-left: 1px solid #cbc8c8;
	font-family: "";
	font-size: 12px;
}
.table1 th {
	line-height: 18px;
	font-weight: bold;
	padding:7px 4px;
	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
	background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top;
}
.table1 td {
	line-height: 18px;
	padding:4px;
	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
	text-align: center;
}
.table1 .td_left{
	text-align:left;
}
.tr2 {
	background-color: #f2f1f1;
}

.table1 a { padding:auto 3px;
}

.table2 {border-top: 1px solid #cbc8c8;
	border-left: 1px solid #cbc8c8;
}

.table2 th {
	text-align: right;
	padding:2px 3px;	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
}
.table2 td {
	padding: 2px 3px;	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
}
.table3 {
	margin-top: 6px;
}
.table3 th {
	text-align: right;
	padding: 3px;
}
.table3 td {
	padding: 3px;
}





 .pages {
	text-align: right;
	margin-top: 5px;
}
.pages .current {
	color: #0066CC;
}
.pages .Total {
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
	color: #000000;
}


.pages .page_input {
	height: 12px;
	width: 20px;
	border: 1px solid #CCCCCC;
	padding-right: 4px;
	padding-left: 4px;
}
.pages a:link,.pages a:visited,.pages a:hover {
	background-color: #FFFFFF;
	padding:2px 5px 1px 5px;
	color: #1F1F1F; line-height:14px;
}
.pages a:hover{
	color:#0066FF;
	background-color: #BFDBFF;
}
.pages .current_page a:link,.pages .current_page a:visited,.pages .current_page a:hover {
	color: #FFFFFF;
	background-color: #3080E3;
}
.current_page a:hover {
	color: #99CCFF;
}
.pages .go_button {
	background: url(../images/go.jpg) no-repeat left top;
	height: 16px;
	width: 18px;
	border-style: none;
	margin:2px 6px 0px 0px;
}


.button_style {text-align: center;}

.bt_box{ padding:10px 0; clear:both; height:24px;}
a.handle_bt{ position:absolute; right:0px; top:-1px; color:#767575;}
a.handle_bt,a.handle_bt span, a.handle_bt:hover ,a.handle_bt:hover span{ background:url(../images/handle_bt.gif) top left; padding-left:12px; display:inline-block; font-size:12px; font-weight:normal; text-indent:0; height:23px; line-height:23px; cursor:pointer; }
a.bt_1,a.bt_2{ margin:0 3px;}
a.bt_1,a.bt_1 span,a.bt_1:hover,a.bt_1:hover span,a.bt_2,a.bt_2 span,a.bt_2:hover,a.bt_2:hover span{ background:url(../images/bt_1.gif) no-repeat top left; padding-left:15px; height:24px; display:inline-block; text-indent:0; line-height:23px; color:#FFF;}
a.bt_2,a.bt_2 span,a.bt_2:hover,a.bt_2:hover span{ background:url(../images/bt_2.gif) no-repeat top left; color:#000;}

a.bt_1 span,a.bt_2 span,a.handle_bt span{background-position:top right; padding:0; padding-right:12px;}
a.bt_1:hover,a.bt_2:hover,a.handle_bt:hover{background-position:bottom left; text-decoration:none; color:#000000;}
a.bt_1:hover span,a.bt_2:hover span,a.handle_bt:hover span{background-position:bottom right; padding:0; padding-right:12px;}
.input1{
	width:120px;
	height:14px;
	padding:3px 0 2px 3px;
	font-size:12px;
	border: #a7a6aa 1px solid;
	line-height:14px;
	background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
}

.select1{ width:120px; border:1px solid #ccc;}
.right_contain .search_top {
	height: 10px;
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.right_contain .search_top .right_top {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	width: 8px;
	height: 10px;
}
.right_contain .search_top .left_top {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 10px;
	height: 10px;
}
.right_contain .search_box {
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left -10px;
	line-height:24px;
}
.right_contain .search_box .right_box {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right -10px;
	width: 8px;
}
.right_contain .search_box .left_box {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left -10px;
	width: 10px;
}
.right_contain .search_box .table3 {
	margin: 0px;
}


.right_contain .search_bottom {
	height: 10px;
	background-image: url(../images/bg_search.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom:10px;margin-top:-4px;
}

.right_contain .search_bottom .right_bottom {
	background-image: url(../images/right_search.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	width: 8px;
	height: 10px;
}
.right_contain .search_bottom .left_bottom {
	background-image: url(../images/left_search.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	width: 10px;
	height: 10px;
}
.right_contain {
	padding: 8px;
}

.right_contain .position {
	text-align: right;
	padding: 3px;
	color: #666666;
}
.right_contain .title {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
	background-image: url(../images/001_54.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 25px;
}
.right_contain .add {
	text-align: right;
}
.right_contain .add img {
	margin: 0px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
}





.footer {
	background-color: #eaeaea;
	height: 34px;
	border-top: 3px solid #d1d1d1;
	color: #868686;
	padding: 4px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width:100%;
	background-image: url(../images/foot_quality.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.footer .left_footer {
	background-image: url(../images/foot_logo.jpg);
	background-repeat: no-repeat;
	background-position: 5px top;
	padding-left: 105px;
}
/*==============================she=========================*/


.right_contain .search_box .left_box2 {
	background-image: url(../images/left_search_2.jpg);
	background-repeat: no-repeat;
	background-position: left -10px;
	width: 10px;
}


.textarea_1{
	width:98%;
	height:70px;
	padding:3px 0 2px 3px;
	font-size:12px;
	border: #a7a6aa 1px solid;
	line-height:14px;
	background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
	 color:#666666
}
.bts{
	text-align:center;
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin: 10px;
}
th.v_top{ vertical-align:top;}
.title_h2{ clear:both; height:24px; line-height:24px; font-size:14px; color:#000000;}
.line_h2{ border-top: 1px #ccc solid;padding-top:7px;}
.input_min{ width:58px;}
.table_th2 th{padding:2px 4px;}


.td_b{ border:1px #999999 solid;}
.td_table{ margin-top:0px; float:left; margin-left:100px;border-collapse:collapse;}
.td_table td{ text-align:center; vertical-align:middle; padding:13px 0;}
.td_table{ _display:inline;}
.peo_pic{border:1px #ccc solid; font-size:0;  margin-top:30px; width:150px; height:200px; overflow:hidden; float:left; margin-left:180px; display:inline;}
.em_ev{ border-bottom: 1px #ccc solid; height:24px; line-height:24px; clear:both; font-size:14px; padding-top:10px;}
a.em_ev{ width:100%; cursor:pointer; display:block; margin-bottom:10px; font-weight:bold; background:url(../images/title_open.gif) no-repeat 3px 16px; text-indent:21px;}
a.em_ev:hover{ color:#4f8af6;}
.em_ev_info{ width:95%; margin:0 auto; padding:20px; border:#999999 1px solid; overflow:hidden;}
.em_ev_ul{padding:0; margin:0;padding-bottom:10px;border-bottom:#ccc 1px solid; }
.em_ev_ul li{ text-align:left;clear:both;margin:0;margin-bottom:12px; overflow:hidden; display:block; font-size:12px;zoom:1; list-style:none;}
.em_ev_ul li .em_bg{ width:600px; float:left; padding:1px 0 2px 0;font-size:12px;background: url(../images/input-bg.png) #fff no-repeat 0px 0px;border: #a7a6aa 1px solid; padding-left:3px;float:left;x-overflow:hidden;}
.em_ev_ul li label{ float:left; font-weight:bold; font-size:12px; margin-right:5px;}
.em_ev_ul li span{ margin-right:10px;}
.pe_info{ margin-top:10px;}
.pe_info label{ float:left; width:85px;}
.pe_info li{ float:left; width:50%; margin-bottom:10px;}
.pe_info input { width:240px;}
.p_pic{border:1px #ccc solid; font-size:0;  margin-top:30px; width:150px; height:200px; overflow:hidden;margin-left:180px; display:inline; float:none; display:block; margin:30px auto 0 auto;}

a.eve_titile{ height:30px; line-height:30px; text-decoration:none; font-size:14px; font-weight:bold; color:#000000; display:block;width:100%; clear:both; margin-top:10px; background:url(../imgs/ico_eva.gif) no-repeat 80px -62px; border-bottom:1px #afc9f4 solid;}
.headline{ font-size:16px; margin-bottom:30px; text-align:center;}


.photo{ margin:0; margin-right:5px; margin-top:7px; float:left;}
.photo_info{  float:left; margin-right:0px; width:55%; height:202px;margin-top:7px; border-collapse:collapse;}
.photo_info td{ padding:0px 3px; border:1px #cccccc solid;vertical-align:middle; }
.half_year { margin:0; padding:0;}

.student_info{ float:left; border:1px #ccc solid; padding:10px 15px 10px 15px; overflow:hidden; width:52%;}
.student_info h2{border-bottom:1px #ccc solid; font-size:12px; }

.fleft { float:left;}
.fright { float:right;}
.right_contain .title { clear:both; overflow:hidden;_zoom:1;}
.location{ background:url(../images/ico_location.gif) no-repeat 0 6px; height:24px; line-height:24px; font-size:12px; font-weight:normal; float:right; text-indent:15px; color:#999999;}
.location a:link { color:#999999}
.location a:visited {color:#999999}	
.location a:hover {color:#4f8af6}	
.location a:active {color:#999999}	
.title_box{ background:url(../images/title_bg.gif) repeat-x; height:28px; border:1px #c8c2c2 solid; margin-bottom:10px; overflow:hidden; line-height:28px;}
.title_box strong{ float:left; font-size:12px; margin-left:10px;}
.text_detail{ float:left; width:85%; overflow:hidden;}
.value_human span{ margin-right:50px; color:#333333;}
.add_infor{ background:url(../images/bt_add.gif) no-repeat; width:85px; height:24px;line-height:24px; text-indent:15px; margin-left:5px;  display:inline-block; border:none; font-size:12px; color:#1345b8; cursor:pointer;}
.title_had{ float:right; margin-top:2px;}


.tabbox{ height:26px; border-bottom:1px #929292 solid; position:relative; margin-bottom:10px;}
.tab{ margin:0; padding:0;position:absolute;top:1px; margin-left:2px;}
.tab li{ margin:0;  padding:0;float:left; margin:0 1px; list-style:none;}
.tab li a{ background:url(../images/per_tabs_bg.gif) no-repeat; height:26px; padding-left:25px;float:left;}
.tab li a span{ background:url(../images/per_tabs_bg.gif) no-repeat; float:left; height:26px;text-align:center; line-height:26px;padding-right:25px; cursor:pointer; color:#004499; font-weight:bold;}
.tab li a{ background-position:0 top;}
.tab li a span{ background-position:right top;}
.tab li a.current{ background-position:0 -52px;}
.tab li a.current span{ background-position:right -52px;}

#main0{ text-align:center;}
#main0 ul{display:none;margin:0; padding:0; overflow:hidden;}
#main0 ul.block{display: block; margin:0 auto; overflow:hidden; clear:both;margin:0; padding:0;}

.bt_4_text,.bt_2_text{ background:url(../images/bt_4_text.gif) no-repeat; width:70px; height:24px;line-height:24px; margin-right:5px;  display:inline-block; border:none; font-size:12px; color:#1345b8; cursor:pointer; text-align:center;}
.bt_2_text{ background:url(../images/bt_2_text.gif) no-repeat; width:50px;}
.date_result {
	vertical-align: top;
}

.interval ul{
	margin:0; 
	padding:0
}
.interval ul li{
	list-style-type:none;
	line-height:30px;
	height:30px;
}
.interval ul li a{
	color:#323232;
}
.interval ul li a:hover{
	color:#FC0204;	
}

.table4 {
	
	font-family: "";
	font-size: 12px;
}
.table4 th {
	line-height: 18px;
	font-weight: bold;
	padding:7px 4px;
	border-bottom: 1px solid #CBC8C8;
}
.table4 td {
	line-height: 18px;
	padding:4px;
	border-bottom: 1px solid #CBC8C8;
	text-align: center;
}
.table4 .td_left{
	text-align:left;
}

.table4 a { padding:auto 3px;
}

.module_contain ul {
	margin: 0px;
	padding: 0px;
}
.module_contain li {
	margin: 0px;
	background-image: url(../images/dot.jpg);
	background-repeat: no-repeat;
	background-position: 4px 11px;
	list-style-type:none;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;	
}
.module_contain li a{
	color:#666666;
}
.module_contain li a:hover{
	color:#FC0204;
}

.module_contain .date {
	color: #A4A4A4;
	float: right;
	width: 80px;
}
