* {
	margin:0;
	padding:0;
}
body {
	font-family: "", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color:#FFFFFF;
	
}
/*.top {
 	padding: 3px;
	background-image: url(../images/top_right.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 35px;
	text-align: right;
	width:100%;		
}*/
.top {
	padding: 3px;
	background-image:  url(../images/top_right.jpg);
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 28px;
	text-align: right;
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
    min-width:1003px;
}
*html{ 
    background-image:url(about:blank);
    background-attachment:fixed; 
}

.top .logo_top {
	float: left;
	width: 300px;
	text-align:left
}
.top .log_message {
	line-height: 20px;
	padding-top: 8px;
	padding-right: 5px;
}
/*.ddsmoothmenu {
	background: #BFDBFF url(../images/menu_bg.jpg) repeat-x left top;
	width: 100%;
}
*/
.ddsmoothmenu  {
	background: url(../images/menu_bg.jpg) repeat-x left top;
	height: 29px;
	position: fixed;
	left:0px;
	top:34px;
	width:100%;
	_position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
	_margin-top:34px;
	min-width:1003px
}
.ddsmoothmenu ul {
	z-index:100;
	list-style-type: none;
}
/*Top level list items*/
.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
	background: url(../images/menu_line.jpg) no-repeat right top;	
	line-height:29px;
	margin-right:1px;
}
.ddsmoothmenu ul li li{
	margin:0;
	line-height:28px;
}
.ddsmoothmenu ul li li li{
	margin:0;
	line-height:23px;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display:block;
	color:#1F1F1F;
	width:122px;
	padding: 0;
	text-align:center;
	text-decoration:none;
}
.ddsmoothmenu ul li a:link,.ddsmoothmenu ul li a:visited{
	color:#1F1F1F;
}
.ddsmoothmenu ul li li a {
	background-color:#BFDBFF;
	border-left:1px solid #80AAE1;
	border-right:1px solid #80AAE1;
	border-bottom:1px solid #80AAE1;
	border-top:1px solid #D3E6FF;
}
.ddsmoothmenu ul li li a:hover {
	background-color:#71A3E4;
}
.ddsmoothmenu ul ul ul {
	border-top:1px solid #80AAE1;
}
* html .ddsmoothmenu ul li a { /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
/*
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}*/
.ddsmoothmenu ul li a:hover {
	font-weight: bold;
	color: #fff;
	background: url(../images/select_menu.jpg) repeat-x left top;
}
.ddsmoothmenu ul li li a:hover {
	color: white;
	font-weight:normal;
	background:#71A3E4 url(../images/mdot2.jpg) 6px center no-repeat;
}

.ddsmoothmenu ul li a.select,.ddsmoothmenu ul li a.select:visited { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	font-weight: bold;
	color: #fff;
	background: url(../images/select_menu.jpg) repeat-x left top;
}
.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a.selected:visited { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	font-weight: bold;
	color: #fff;
	background: url(../images/select_menu.jpg) repeat-x left top;
}
.ddsmoothmenu ul li li a.selected,.ddsmoothmenu ul li li a.selected:visited { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: white;
	font-weight:normal;
	background:#71A3E4 url(../images/mdot2.jpg) 6px center no-repeat;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0;
}
/* Sub level menu links style */
.ddsmoothmenu ul li li a {
	width: 97px; /*width of sub menus*/
	padding: 0;
	margin: 0;
	text-align:left;
	padding-left:15px;
	padding-right:8px;
	background:#BFDBFF url(../images/mdot1.jpg) 6px center no-repeat;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu {
	height: 1%;
} 
/*Holly Hack for IE7 and below*/
/* ######### CSS classes applied to down and right arrow images  ######### */

/*
.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}
*/

.rightarrowclass {
	position: absolute;
	top: 12px;
	right: 6px;
}

.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}
/*
.toplevelshadow{ 
opacity: 0.8;
}
*/
