<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title> ${title} </title>
<script language="javascript">


function send_requestout_framework(url){

	var http_requestout_framework = false;
	//开始初始化XMLHttpRequest对象
	if(window.XMLHttpRequest){//Mozilla
		http_requestout_framework = new XMLHttpRequest();
		if(http_requestout_framework.overrideMimeType){//设置MIME类别
			http_requestout_framework.overrideMimeType("text/xml");						
		}
	}
	else if(window.ActiveXObject){//IE
		try{
			http_requestout_framework = new ActiveXObject("Msxml2.XMLHTTP");
		}catch(e){
			try{
				http_requestout_framework = new ActiveXObject("Microsoft.XMLHTTP");							
			}catch(e){
			}
		}
	}
	if(!http_requestout_framework){
		alert("不能创建XMLHttpRequest对象");
		return false;
	}
	
     http_requestout_framework.onreadystatechange = showAbout;
	
	http_requestout_framework.open("GET",url,true);
	http_requestout_framework.send(null);
}
 

function showAbout() {
    //window.showModalDialog("about.jsp",null,"dialogWidth:400px;dialogHeight:290px;status:no;scroll:no;help:no");
}   
function framework_exit(){
  	
	//alert("aaa");
	var n = window.event.screenX - window.screenLeft;
	var vv = document.documentElement.scrollWidth;
	var vvb = vv-20;
	var m =  n/3;
	var b = n > vv-m;
	var a = window.event.clientY < 0;
	if(window.event.clientY < 0 || window.event.altKey || b){
		//alert("ddd");
		send_requestout_framework("exit.jsp");
	}
  //if(event.clientX<0 && event.clientY<0){ 
  
  //	alert("ddd");
   //  send_requestout_framework("logout.jsp");
   //  return true;
     
  //}
 
} 
//window.onunload=exit;
</script>
</head>
<frameset rows="${frameset_rows}" border=0 name="framework_container" onunload="javascript:framework_exit();">
	<frame name="perspective_workarea" title="${perspective_workarea_title}" frameborder=0 noresize>
	<frame name="perspective_topbar" title="${perspective_toolbar_title}"
		src="${perspective_toolbar_url}" marginwidth=0 marginheight=0
		scrolling="no" frameborder=0 noresize>
	<!--修改模板文件已适应，随需应变的主体框架-->
	<frame name="perspective_main" title="${perspective_main_title}"
		src="${perspective_main_url}" marginwidth=0 marginheight=0
		scrolling="no" frameborder=0 noresize>
</frameset>

</html>
