
<HTML><HEAD><TITLE></TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<META content="MSHTML 6.00.2800.1522" name=GENERATOR></HEAD>
<FRAMESET border=0 frameSpacing=0 rows="${navigator_container_rows}" frameBorder=0 name="navigator_container">
    <FRAME name=base_navigator_toolbar marginWidth=0 marginHeight=0 src="${base_navigator_toolbar_url}" frameBorder=0 noResize 
            scrolling=no ${noresize}>
    <FRAME name=base_navigator_content marginWidth=0 marginHeight=0 src="${base_navigator_content_url}" frameBorder=0 noResize scrolling=auto>
</FRAMESET>
</HTML>