<HTML><HEAD><TITLE></TITLE>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<META content="MSHTML 6.00.2800.1522" name=GENERATOR></HEAD>
<frameset rows="${perspective_main_rows}" border=0>
		<frame name="perspective_toolbar" title="${perspective_toolbar_title}"
			src="${perspective_toolbar_leftside}" marginwidth=0 marginheight=0
			scrolling="no" frameborder=0 ${noresize}>
		<frame name="perspective_content" title="${perspective_content_title}"
			src="${perspective_content_url}" marginwidth=0 marginheight=0
			scrolling="auto" frameborder=0>
</frameset>
</HTML>