<HTML><HEAD><TITLE></TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<SCRIPT language=Javascript>
function refresh_content() {
     base_status_content.location.href='${base_status_content_url}';
     setTimeout("refresh_content()",60000);
}
setTimeout("refresh_content()",60000);
</SCRIPT>

<META content="MSHTML 6.00.2800.1522" name=GENERATOR></HEAD>
<FRAMESET border=0 frameSpacing=0 rows="${status_container_rows}" frameBorder=0 name="status_container">
<FRAME name=base_status_toolbar marginWidth=0 marginHeight=0 src="${base_status_toolbar_url}" frameBorder=0 ${noresize} scrolling=no>
<FRAME name=base_status_content marginWidth=0 marginHeight=0 src="${base_status_content_url}" frameBorder=0 noResize scrolling=no>
</FRAMESET></HTML>
 