<script src="${contextpath}/include/queryTreenode.js"></script>
<div align="center">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
		<tr>
		<td align="left">
		<input name="blurryValue" type="text" onpropertychange="onBlurryQueryChange('queryBtn','nextBtn','${rootid}')" onkeydown="enterKeydowngo('blurryValue','queryBtn','nextBtn','${rootid}')"/>
		</td>
	</tr>
	<tr>
	<td align="right">
		<input type="button" name="queryBtn" value="查询" onclick="blurryQuary('blurryValue','queryBtn','nextBtn','${rootid}')"  class="input">
		<input style="display:none" name="nextBtn" type="button" value="查找下一个" onclick="nextNodes('queryBtn','nextBtn','${rootid}')" class="input">
		</td>
	</tr>
	</table>
</div>