<%@ page language="java"  pageEncoding="utf-8"%>
<%@ taglib uri="/WEB-INF/pager-taglib.tld" prefix="pg"%>

<!-- 
	描述:${moduleCNName}管理分页列表界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
#set( $start = '${' )
#set( $end = '}' )
<div id="customContent">
<pg:empty actual="$start${entityVarName}s$end" evalbody="true">
    <pg:yes>
	<div class="nodata">
	没有数据
	</div>
	</pg:yes>
	<pg:no>
		<pg:pager scope="request"  data="${entityVarName}s" desc="true" isList="false" containerid="custombackContainer" selector="customContent">
#foreach($condition in $conditions)
		<pg:param name="${condition.fieldName}"/>
#end	
		<!-- 加入 class="tableOutline" 可控制表格宽度，滚动条展示 -->
		<div id="changeColor" >
		 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="stable" id="tb">
	        <pg:header>
	            <th align=center><input id="CKA" name="CKA" type="checkbox" 
								onClick="checkAll('CKA','CK')"></th>
				<th>序号</th>				
#foreach($field in $fields)
#if($field.sortField)				
	       		<pg:title sort="true" type="th" align="center" colName="$field.columnname" #if(!$genI18n)title="$field.fieldCNName"#else titlecode="$namespacei18n.$field.fieldName"#end/>
#else
	       		<th>#if(!$genI18n)$field.fieldCNName#else<pg:message code="$namespacei18n.$field.fieldName"/>#end</th>
#end	       		
#end	  		
				<th>操作</th>
	       	</pg:header>	
	      <pg:list>
	
	   		<tr onDblClick="view${entityName}('<pg:cell colName="${primaryKeyName}" />')">
	   		        <td class="td_center">
	                    <input id="CK" type="checkbox" name="CK" onClick="checkOne('CKA','CK')" value="<pg:cell colName="${primaryKeyName}" />"/>
	                    <input id="${primaryKeyName}" type="hidden" name="${primaryKeyName}" value="<pg:cell colName="${primaryKeyName}" />"/></td>
	                <td><pg:rowid increament="1" offset="false"/></td>    
#foreach($field in $fields)	                    
	                <td>#if($field.maxlength>0)<span class="toolTip" title="<pg:cell colName="$field.fieldName"/>"><pg:cell colName="$field.fieldName" maxlength="$field.maxlength" #if($field.replace)replace="$field.replace"#end/></span>#else<pg:cell colName="$field.fieldName"/>#end</td>
#end	                
	        		
	                <td class="td_center"><a href="javascript:void(0)" id="read${entityName}" onclick="view${entityName}('<pg:cell colName="${primaryKeyName}" />')">查看</a><a href="javascript:void(0)" id="edit${entityName}" onclick="edit${entityName}('<pg:cell colName="${primaryKeyName}" />')">编辑</a><a href="javascript:void(0)" id="del${entityName}" onclick="del${entityName}('<pg:cell colName="${primaryKeyName}" />')">删除</a></td>    
	                 
	        </tr>
		 </pg:list>
	    </table>
	    </div>
		<div class="pages"><input type="hidden" value="<pg:querystring/>" id="querystring"/><pg:index tagnumber="10" sizescope="5,10,20,50,100"/></div>
	
	    </pg:pager>
	</pg:no>
</pg:empty> 
</div>		
