<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%@ page language="java" pageEncoding="utf-8"%>
<%@ taglib uri="/WEB-INF/pager-taglib.tld" prefix="pg"%>
<!-- 
	描述:查看${moduleCNName}界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
<head>
<title>查看#if(!$genI18n)${moduleCNName}#else<pg:message code="$namespacei18n.$moduleName"/>#end</title>
<%@ include file="/include/css.jsp"%>
</head>
<body>
		<div class="mcontent">
			<div id="searchblock">
				<pg:beaninfo requestKey="${entityVarName}">
				<form id="editForm" name="editForm">
				
					<table border="0" cellpadding="0" cellspacing="0"
						class="table4">
					#foreach($field in $fields)
						#if( $velocityCount % 3 == 0)
							#if($velocityCount > 0)</tr>#end
						<tr>
						#end
						<th width=85px >
							#if(!$genI18n)$field.fieldCNName#else<pg:message code="$namespacei18n.$field.fieldName"/>#end：
						</th>
						<td width=140px>
							<input id="$field.fieldName" name="$field.fieldName" type="text" value="<pg:cell colName="$field.fieldName"/>"
								#if($field.required)class="w120 input_default easyui-validatebox" required="true"/><font color="red">*</font>#else/>#end
						</td>
						#if($velocityCount == ($fields.size() - 1))						
					</tr>	
						#end
					#end	
						
					</table>
				
		
				</table>
				
				<div class="btnarea" >
					<a href="javascript:void(0)" class="bt_2" id="closeButton" onclick="closeDlg()"><span>退出</span></a>
				</div>	
				</form>
				</pg:beaninfo>
			</div>
			
  
  	</div>					
</body>