.tab-pane {
	WIDTH: 100%; POSITION: relative
}
.dynamic-tab-pane-control .tab-row .tab {
	BORDER-RIGHT: threeddarkshadow 1px solid;
	PADDING-RIGHT: 5px; BORDER-TOP: buttonhighlight 1px solid;
	DISPLAY: inline; PADDING-LEFT: 5px; Z-INDEX: 1;
	BACKGROUND: buttonface; FLOAT: left; PADDING-BOTTOM: 3px;
	FONT: Menu;
	BORDER-LEFT: buttonhighlight 1px solid;
	CURSOR: default; PADDING-TOP: 2px;
	BORDER-BOTTOM: threeddarkshadow 0px solid;
	POSITION: relative; TOP: 0px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 100px;
	text-align: center
}
.dynamic-tab-pane-control .tab-row .selected {
	PADDING-RIGHT: 6px; PADDING-LEFT: 7px; Z-INDEX: 3;
	BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px;
	PADDING-TOP: 2px; TOP: 0px;
	background-color: white;
	margin-left: 0px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-top: 1px;
	border-left-color: #919b9c;
	border-top-color: #919b9c;
	border-right-color: #919b9c;
	width: 100px;
	text-align: center
}

.dynamic-tab-pane-control .tab-row .tab A {
	FONT: Menu; CURSOR: default; COLOR: windowtext; TEXT-DECORATION: none
}
.dynamic-tab-pane-control .tab-row .hover A {
	COLOR: blue
}
.dynamic-tab-pane-control .tab-page {
	CLEAR: both; BORDER-RIGHT: rgb(145,155,156) 1px solid;
	PADDING-RIGHT: 1px; BORDER-TOP: rgb(145,155,156) 1px solid;
	PADDING-LEFT: 10px; Z-INDEX: 2;
	 PADDING-BOTTOM: 10px; FONT: 11px Tahoma;
	 BORDER-LEFT: rgb(145,155,156) 1px solid;
	 COLOR: black; PADDING-TOP: 10px;
	 BORDER-BOTTOM: rgb(145,155,156) 1px solid; POSITION: relative; TOP: -2px;
	background-color: white;
	height: 330;
	
}
.dynamic-tab-pane-control .tab-row {
	Z-INDEX: 1; WHITE-SPACE: nowrap
}
