<%@ page language="java" pageEncoding="utf-8"%>
<%@ include file="/common/jsp/importtaglib.jsp"%>


<!-- 
	描述:${moduleCNName}管理主界面。
	作者:$author
	版权:$company
	版本:$version 
	日期:$gendate
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>${moduleCNName}管理</title>
<%@ include file="/common/jsp/css-lhgdialog.jsp"%>
<script type="text/javascript" src="${pageContext.request.contextPath}/html2/js/common.js"></script>

</head>
	<body>
		<div class="mcontent">
			<sany:menupath />
			#if($conditions && $conditions.size() > 0)
			<div id="searchblock">
				<div class="search_top">
					<div class="right_top"></div>
					<div class="left_top"></div>
				</div>
				
				<div class="search_box">
					<form id="queryForm" name="queryForm">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="left_box"></td>
								<td>
									<table width="100%" border="0" cellpadding="0" cellspacing="0"
										class="table2">
								
										
										#foreach($condition in $conditions)
											#if( $velocityCount % 3 == 0)
												#if($velocityCount > 0)</tr>#end
											<tr>
											#end
												<th>#if(!$genI18n)${condition.fieldCNName}#else<pg:message code="$namespacei18n.$condition.fieldName"/>#end：</th>
												<td><input id="${condition.fieldName}" name="${condition.fieldName}" type="text"
														value="" class="w120"/></td>
												
												
													#if($velocityCount == ($conditions.size() - 1))
												<th>
													&nbsp;
												</th>
												<td>
													<a href="javascript:void(0)" class="bt_1" id="queryButton"><span>查询</span>
													</a>
													<a href="javascript:void(0)" class="bt_2" id="resetButton" onclick="doreset()"><span>重置</span>
													</a>
													<input type="reset" id="reset" style="display:none"/>
												</td>	
													
											</tr>
													#end
										#end	
									
									</table>
								</td>
								<td class="right_box"></td>
							</tr>
						</table>
					</form>
				</div>
				<div class="search_bottom">
					<div class="right_bottom"></div>
					<div class="left_bottom"></div>
				</div>
			</div>
			#end
			<div class="title_box">
				<div class="rightbtn">
				<a href="javascript:void" class="bt_small" id="addButton"><span>新增</span></a>
				<a href="javascript:void" class="bt_small" id="delBatchButton"><span>批量删除</span></a>
				<a href="javascript:void" class="bt_small" id="exportButton"><span>导出</span></a>
				<input id="excelType" type="radio" name="excelType"   checked  >2003</input>
				<input  type="radio" name="excelType"  >2007</input>
				</div>
				
				<strong>${moduleCNName} 列表</strong>
				<img id="wait" src="../common/images/wait.gif" />				
			</div>
			<div id="custombackContainer" style="overflow:auto">
			
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">

<!--

$(document).ready(function() {
	bboss.pager.pagerevent = {   
			                            beforeload:function(opt){   
			                                //alert("beforeload containerid:"+opt.containerid);   
			                            },   
			                          afterload:function(opt){   
			                              //alert("afterload containerid:"+opt.containerid);   
	}};   

	 $("#wait").hide();
	 queryList();

    $('#queryButton').click(function() {
    	queryData();
    });
    $('#delBatchButton').click(function() {
    	delBatch();
    });
    $('#exportButton').click(function() {
    	exportExcel();
    });           
    
    $('#addButton').click(function() {  
  	 var url="<%=request.getContextPath()%>/${relativePath}/toAdd${entityName}.page";
	 	 $.dialog({ id:'iframeNewId', title:'新增&nbsp;${moduleCNName}',width:740,height:560, content:'url:'+url});   			 		  
    });            
});

function queryList(){	
	$("#custombackContainer").load("queryListInfo${entityName}s.page #customContent",function(){})
}

function containSpecial( s ) {  
	  var containSpecial = RegExp(/[(\ )(\~)(\!)(\@)(\#)(\$)(\%)(\^)(\&)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\:)(\')(\")(\,)(\/)(\<)(\>)(\?)(\)]+/);      
   return ( containSpecial.test(s) );      
}

//查找
function queryData()
{	
#foreach($condition in $conditions)										
	var ${condition.fieldName}=$("#${condition.fieldName}").val();
#end	
	
	if(#foreach($condition in $conditions) #if($velocityCount == 0)containSpecial(${condition.fieldName})#else || containSpecial(${condition.fieldName})#end#end){
		$.dialog.alert('查询字符串含有非法字符集,请检查输入条件！');
		return;
	}
	$("#custombackContainer").load("queryListInfo${entityName}s.page #customContent",
	{#foreach($condition in $conditions) #if($velocityCount == 0)${condition.fieldName}:${condition.fieldName}#else,${condition.fieldName}:${condition.fieldName}#end#end},function(){});


}

function modifyQueryData()
{	
	$("#custombackContainer").load("queryListInfo${entityName}s.page?"+$("#querystring").val()+" #customContent");
}
function edit${entityName}(${primaryKeyName}){
	var url="<%=request.getContextPath()%>/${relativePath}/toUpdate${entityName}.page?${primaryKeyName}="+${primaryKeyName};
	$.dialog({ title:'修改${moduleCNName}信息',width:740,height:560, content:'url:'+url,lock: true}); 		
}
function view${entityName}(${primaryKeyName}){
	var url="<%=request.getContextPath()%>/${relativePath}/get${entityName}.page?${primaryKeyName}="+${primaryKeyName};		
	$.dialog({ title:'查看台账信息',width:740,height:560, content:'url:'+url,lock: true}); 	
}
function doreset(){
	$("#reset").click();
}
function del${entityName}(${primaryKeyName}){		
	$.dialog.confirm('确定要删除选中的${moduleCNName}记录吗?', function(){ 
		 $.ajax({
	 	 type: "POST",
		url : "<%=request.getContextPath()%>/${relativePath}/delete${entityName}.page",
		data :{"${primaryKeyName}":${primaryKeyName}},
		dataType : 'json',
		async:false,
		beforeSend: function(XMLHttpRequest){
			 	XMLHttpRequest.setRequestHeader("RequestType", "ajax");
			},
		success : function(data){
	 		modifyQueryData();
	 		//alert("成功删除记录");
		}	
	  });
	}, function(){ 
		 
	});
		
	  
}
function delBatch(){
	var ${primaryKeyName}s=[];
	var i = 0;
	 $("#tb tr:gt(0)").each(function() {	 
            if ($(this).find("#CK").get(0).checked == true) {
                 ${primaryKeyName}s.push($(this).find("#${primaryKeyName}").val());                
                i++;
            }
              	 
       });
       if(i==0){
        $.dialog.alert('请选择需要删除的记录！');
        return false;
       }
     $.dialog.confirm('确定要删除选中的'+i+'条${moduleCNName}记录吗?', function(){
     	$.ajax({
		 	 	type: "POST",
				url : "<%=request.getContextPath()%>/${relativePath}/deleteBatch${entityName}.page",
				data :{"${primaryKeyName}s":${primaryKeyName}s},
				dataType : 'json',
				async:false,
				beforeSend: function(XMLHttpRequest){
					 	XMLHttpRequest.setRequestHeader("RequestType", "ajax");
					},
				success : function(data){
			 		modifyQueryData();
			 		//alert("成功删除记录");
				}	
			 });
      },function(){
      		
      });         
}

//-->
</script>
