sourceSets {
	main {
		java {
			srcDir 'src/main/java'

		}
		resources {
			srcDir 'src/main/resources'
			srcDir 'src/main/java'  exclude '**/*.java'
		}

	}
	test {
		java {
			srcDir 'src/test/java'

		}
		resources {
			srcDir 'src/test/resources'
			srcDir 'src/test/java'  exclude '**/*.java'
		}

	}

}
configurations {
    //compile.exclude  module: 'slf4j-log4j12'
    //compile.exclude group: 'org.apache.logging.log4j'
    compile.exclude group: 'ch.qos.logback'
	compile.exclude group: 'io.netty', module: 'netty-all'
}
dependencies {
	compile project(':spark-service-util')
     compile  (
     [group: 'com.bbossgroups', name: 'bboss-persistent', version: "${bboss_version}", transitive: true],

          [group: 'org.apache.thrift', name: 'libthrift', version: "0.9.2", transitive: false],

     [group: 'org.apache.hadoop', name: 'hadoop-annotations', version: "${hadoop_version}", transitive: true],
	            [group: 'org.apache.hadoop', name: 'hadoop-auth', version: "${hadoop_version}", transitive: true],
	            [group: 'org.apache.hadoop', name: 'hadoop-common', version: "${hadoop_version}", transitive: true],
	            [group: 'org.apache.hadoop', name: 'hadoop-hdfs', version: "${hadoop_version}", transitive: true],
	            [group: 'org.apache.hadoop', name: 'hadoop-hdfs-nfs', version: "${hadoop_version}", transitive: true],
	            [group: 'org.apache.htrace', name: 'htrace-core', version: '3.1.0-incubating', transitive: true],
	            [group: 'com.fasterxml.uuid', name: 'java-uuid-generator', version: '3.1.2', transitive: false],
	            [group: 'com.google.protobuf', name: 'protobuf-java', version: '2.5.0', transitive: false],
	            [group: 'com.bbossgroups.plugins', name: 'bboss-plugin-kafka', version: "5.0.3.6", transitive: true],
	            [group: 'com.bbossgroups.plugins', name: 'bboss-plugin-elasticsearch', version: "5.0.3.6", transitive: true],
     )

    runtime(
		[group: 'com.bbossgroups', name: 'bboss-rt', version: "${bboss_version}", transitive: false],
    )

    testCompile(
     [group: 'org.apache.hive', name: 'hive-jdbc', version: "2.1.1", transitive: true],
    )


}


task copyJarFiles(type: Sync,dependsOn:'jar'){



	 from configurations.compile
	 from jar.outputs
	 exclude { details -> details.file.name.startsWith('bboss-rt')  }
	 into 'build/dist/lib'

}

task copyRTJarFiles(type: Copy,dependsOn:'copyJarFiles'){
	 from configurations.runtime - configurations.compile
	 into 'build/dist'
     rename ("bboss-rt-${bboss_version}.jar", "${project.name}-${bboss_version}.jar")
}
task copyToolFiles(type: Copy ,dependsOn:'copyRTJarFiles')  {
			from ('runfiles')
			{
				expand(
						bboss_version:"${bboss_version}",
                        project:"${project.name}",
                        vm:"-Xms512m -Xmx512m -Xmn256m -XX:PermSize=128M -XX:MaxPermSize=256M"
						)

			}
		  filteringCharset = 'UTF-8'
			into 'build/dist/'



}
task copyResourcesfiles(type: Sync )  {
	from fileTree(dir: 'src/test/resources')
	filteringCharset = 'UTF-8'
	into 'build/dist/resources'
}

task releaseVersion(type: Zip,dependsOn:['copyToolFiles','copyResourcesfiles']) {

    //appendix = 'wrapper'
   classifier = 'released'
   from 'build/dist/'

}
