*{margin:0;} 
body {
	font:12px/18px Arial, Helvetica, sans-serif;padding:0px;margin:0px;
	
}
body{_width:expression(parseInt(this.parentNode.clientWidth) + 'px');}
body > #wrap {height: auto; min-height: 100%;}
.clearfix:after {content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}

td,th {
	font:12px/18px  Arial, Helvetica, sans-serif;
}

a:link {
	color: #0066CC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0066CC;
}
a:hover {
	text-decoration: none;
	color: #FC0204;
}
a:active {
	text-decoration: none;
}

img{ border:none;}

.STYLE1 {color: #FD0716}

.index_contain {
	padding: 10px;
	
}
.index_contain .side_bar {
	float: right;
	width: 268px;
	margin:0px;
}
.index_contain .side_bar .title_right {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top:2px;
}
.index_contain .side_bar .title_right a:hover{
	text-decoration:underline;
}
.index_contain .side_bar .title_righttext{
	float:right; 
	line-height:26px; 
	padding-top:3px; 
	color:#0884da
}
.index_contain .side_bar .links {
	height: 315px;
	text-align:center;
}


.index_contain .side_bar .links2 {
	padding:15px 0 5px 16px;
	text-align:left;
	line-height:25px;
	background:url(../images/connect.jpg) right 23px no-repeat;
	color:#666465;
}

.index_contain .side_bar .links a:link,.index_contain .side_bar .links a:visited {
	color: #212121;
}
.index_contain .side_bar .links a:hover{
	color: #0066CC;
	font-weight: bold;
}
.index_contain .main_contain {
	margin-right: 270px;
}
.index_contain .main_contain .half {
	float: left;
	width: 50%; 
}
.index_contain .main_contain .box_1 {
	margin-right: 10px;
}

.index_contain .main_contain .box_1 .box_content {
	padding: 8px;
	border-left:1px solid #ccc;border-right:1px solid #ccc;
	margin-right:0px;
	*margin-right:0px;
	_margin-right:3px;
	background-color:#FFFFFF;
}


.index_contain .box_2 .box_content {
	padding: 8px;
	margin-right:0px;
	*margin-right:0px;
	_margin-right:3px;
	clear:both
}
.index_contain .box_2 .box_content {
	margin: 0px;
	height: 100px;
}


.index_contain .main_contain .box_1 .content_top {
	height: 31px;
	background-image: url(../images/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.index_contain .main_contain .box_1 .right_top {
	float: right;
	width: 6px;
	height: 31px;
	background-color: #CC0000;
	background-image: url(../images/right_top.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.index_contain .main_contain .box_1 .left_top {
	background: url(../images/left_top.jpg)  no-repeat left top;
	*background-position: left top;
	_background-position: 1px top;
	float: left;
	width: 6px;
	height: 31px;
	margin-right: 3px;
}

.index_contain .main_contain .box_1 .content_bottom {
	height: 14px;
	background-image: url(../images/bottom_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	*background-position: left bottom;
	_background-position: left 13px;
}

.index_contain .main_contain  .box_1 .right_bottom {
	background:#fff url(../images/bottom_right.jpg)  no-repeat;
	background-position:right bottom;
	_background-position:-1px bottom;
	float: right;
	width: 14px;
	height: 14px;
}
.index_contain .main_contain  .box_1 .right_bottom2 {
	background:#fff url(../images/bottom_right.jpg)  no-repeat;
	background-position:right bottom;
	*background-position:right bottom;
	_background-position:-4px bottom;
	float: right;
	width: 14px;
	height: 14px;
}
.index_contain .main_contain .half .box_1 .right_bottom{
	background-position:right bottom;
	*background-position:right bottom;
	_background-position:-2px bottom;
	}
.index_contain .main_contain .box_1 .left_bottom {
	background: url(../images/bottom_left.jpg)  no-repeat left bottom;
	float: left;
	width: 14px;
	height: 14px;
	*background-position:left bottom;
	_background-position:1px bottom;
}
.index_contain .main_contain .half .box_1 .left_bottom{background-position:left bottom;
*background-position:left bottom;
_background-position:2px bottom;
}

.index_contain .main_contain .box_1 .content_bottom .left_bottom2 {
	float: left;
	width: 165px;
	height:14px;
	background:url(../images/bottom_left2.jpg) no-repeat;
	background-position:left bottom;
	*background-position:left bottom;
	_background-position:1px bottom;

}
.index_contain .main_contain .box_1 .content_top .Pending {
	font-weight: normal;
	padding-left: 5px;
	font-size:12px;
}
.index_contain .main_contain .box_1 .content_top .Pending .pending_num {
	font-weight: bold;
	color: #A21D22;
	padding: 6px;
}




.tabs {
	padding: 0px;
}



.indentmenu{
	width: 161px; float:left;
	height:258px;
	background-color:#F4F3F4;
	margin-left:1px;
	background-image: url(../images/tab_line.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}

.indentmenu table th{
	font-weight:bold; color:#333333; text-align:center;
}
.indentmenu table td{
	padding:3px 0px;
	

}

 .num {
	padding: 0px 0px 0px 3px;
}

.indentmenu ul{	
	background-color:#f4f3f4;
	list-style-type: none;
	margin:0px;
	padding:0px;
	background-image: url(../images/tab_line.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	width:98px;

}

.indentmenu ul li{
    padding:0px;
	text-align: right;
	display:inline;
	

}

.indentmenu ul li a,.indentmenu ul li a:hover{	
	color: black; 
	text-decoration: none;
	display: block;
	padding: 3px  5px 3px 0px;
}
.indentmenu ul li a:visited{
	color: black;
}
.indentmenu ul li a.selected,.indentmenu ul li a.selected:hover{
	color: #0884DA !important;
	font-weight:bold;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#FFFFFF;
	padding: 5px  5px 5px 0px;

}
#petsdivcontainer {
	height: 248px;
	margin-left: 162px;padding:10px 10px 0px 10px 
}
.more{
	float:right;
	margin-top:10px;
	margin-right:12px;
}
.blue{ color:#0586da}
.blue1{ color:#267ED7}
.log_message  a.zhuxiao{ font-weight:bold; color:#333333;}

.left_ad {
	float: left;
	width: 275px;
	height:204px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.left_ad .num_ad ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float: right;
	width: 120px;
}
.left_ad .num_ad {
	height: 21px;
	background-color: #BFDBFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

.left_ad .num_ad li {
	float: left;
	width: 16px;
	margin:2px;
	padding:0px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 14px;
	color: #000000;
	border: 1px solid #CCCCCC;
}
.left_ad .num_ad .selected {
	background-color: #2072DE;
	padding: 1px 5px;
	color: #FFFFFF;
	line-height: 12px;
}

.module_contain{ margin-left:300px;}
.module_contain ul {
	margin: 0px;
	padding: 0px;
}
.module_contain li {
	margin: 0px;
	background-image: url(../images/dot.jpg);
	background-repeat: no-repeat;
	background-position: 4px 15px;
	list-style-type:none;
	padding-top: 9px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 15px;	
}
.module_contain li a,.module_contain li a:visited{
	color:#666666;
}
.module_contain li a:hover{
	color:#0066CC;
}

.module_contain .date {
	color: #A4A4A4;
	float: right;
	width: 80px;
}

.quickblock{
	width:250px;
	height:82px;	
	margin:auto;
	margin-top:18px;
	background:url(../images/quickbg.jpg) left top no-repeat;	
}
.quickblock  ul {
	margin: 0;
	padding:0;
	list-style-type: none;
	margin-top:8px;
	margin-left:8px;
}
.quickblock li {
	width: 78px;
	padding: 0px;
	float: left;
	text-align: center;
	line-height: 25px;
}
.quickblock table th{
	font-weight:bold;
	color:#3483D0;
	line-height:16px;
	background:url(../images/split.jpg) right  center no-repeat;
}

/*.footer {   
	background-color: #eaeaea;
	height: 34px;
	border-top: 3px solid #d1d1d1;
	color: #868686;
	padding: 4px 0px; 
	width:100%;	
	background-image: url(../images/foot_quality.jpg);
	background-repeat: no-repeat;
	background-position: right top;	position: relative;	
	clear:both;
}
.footer .left_footer {
	background-image: url(../images/foot_logo.jpg);
	background-repeat: no-repeat;
	background-position: 5px top;
	padding-left: 120px;
}
*/
.footer a,.footer a:visited{ color:#666;}
.footer a:hover{ color:#0066cc}


.footer {
	height: 45px;
	border-top: 3px solid #d1d1d1;
	color: #868686;
	width:100%;
	line-height: 18px;
	background: #eaeaea url(../images/foot_quality.jpg) no-repeat  right top;
	position: fixed;
	left:0px;
	bottom:0px;	
} 
*+html .footer {
	height: 45px;
	border-top: 3px solid #d1d1d1;
	color: #868686;
	width:100%;
	line-height: 18px;
	background: #eaeaea url(../images/foot_quality.jpg) no-repeat  right top;
	position: fixed;
	left:0px;
	bottom:0px;	
}
* html .footer {
	height: 45px;
	border-top: 3px solid #d1d1d1;
	color: #868686;
	width:100%;
	line-height: 18px;
	background: #eaeaea url(../images/foot_quality.jpg) no-repeat  right top;
	position:absolute;
	bottom:auto;
	top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))	
}
.footer .left_footer {
	padding:6px 0px 0px 110px;
	background: url(../images/foot_logo.jpg) no-repeat left 3px;
	line-height: 18px;
	
}

