*{padding:0px;margin:0px;} 
body {
	font:12px/18px Arial, Helvetica, sans-serif;
}
.left_menu {
	padding: 0px;		
	margin:auto ;
	height:99%;
	width:160px;
	overflow:auto
}
.left_menu ul {
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	border-bottom:none;
	list-style-type: none;
}
.left_menu ul li
	{
	margin:0px;
	padding:0px 0px 0px 15px;
	border-bottom: 1px  solid  #CCCCCC;
	font-weight: bold;
	line-height:30px;
	background:#C2DCFF url(../images/li_bg.jpg) no-repeat left top;
}
.left_menu ul li  ul{
	display:none;
}
.left_menu a:link,.left_menu a:visited,.left_menu .select_links li a:link,.left_menu .select_links li a:visited {
	color: #333333;
	text-decoration: none;
}
.left_menu a:hover,.left_menu .select_links li a:hover{ color:#0066FF;}
.left_menu .select_links a:link,.left_menu .select_links a:visited {
	color: #1789C8;
}

.left_menu .select_links .select_links a:link,.left_menu .select_links .select_links a:visited {
	color: #2879E2;
}



.left_menu ul li ul {
	margin:0px 0px 0px -15px;
	padding:0px;
	border-style: none;
	border-top: 2px solid #8cb2e3;
}
.left_menu ul ul li {
	border: none;
	padding:0px 0px 0px 27px;
	font-weight: normal;
	line-height:26px;
	background:#FFFFFF url(../images/text.gif) no-repeat 9px 3px;

}
#Tbasic2 {
	width: 172px;
	
}
